@import "default";

.info-panel{
  margin-bottom: 2em;
	padding:2em;
  background-color: @background-color;
  border-radius: @border-radius-base;
}

.edit{
    height: 1px;
    opacity: 0;
}

.card-container{
  .m-card();
  padding: 2em;
}