.btn-box{
  width: 100%;
  background-color: #1452A3;
  padding: 10px 0;
}
.btn-box .btn-title{
  cursor: pointer;
  word-break: keep-all;
  line-height: 48px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-box .btn-title:hover{
  background: rgba(23, 57, 137, 0.8);
}
.btn-list{
  padding-left: 20px;
  margin: 0;
}
.btn-list:not(:last-child){
  border-bottom: 1px solid #35B3FF;
}
.upImg{
  transform: rotate(90deg);
}