@import 'default';

.rss-panel{
  background-color: #fff;
  border-radius: @border-radius-base;
  .m-shadow();
  display: grid;
  grid-auto-rows: auto;
  .panel-header {
    padding: 0.5em 0;
    .title{
      font-weight: 400;
      font-size: 1.2em;
    }
    &::before{
      .content()
    }
  }
  .panel-body{
    overflow-y: auto;
    padding: 0 1em;
  }
}
.card-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24em, 3fr));
  grid-template-rows: 400px;
}