<div>
  <textarea [(ngModel)]="inputValue" nz-input rows="4" class="mb-2"></textarea>
  <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
    评论
  </button>
</div>
<div *ngFor="let commentItem of data" class="comment-item">
  <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: commentItem, commentId: commentItem.id }"> </ng-template>
</div>

<ng-template #commentTemplateRef let-comment="comment" let-commentId="commentId">
  <div class="comment-author mb-2">
    <i nz-icon class="avatar" [nzType]="comment?.fromUser?.avatar"></i>
    <div class="title">
      <span class="name mr-1">{{comment?.fromUser?.username}}</span>
      <span class="sub-name" *ngIf="comment?.toUser">回复{{comment?.fromUser?.username}}</span>
    </div>
    <div style="flex: 1 1 auto;"></div>
    <button
      nz-button
      nzType="primary"
      nzSize="small"
      (click)="replySubmit(commentId, comment?.fromUser?.id, comment?.fromUser?.username, textarea)">
      <span nz-icon nzType="message" nzTheme="outline"></span>
    </button>
  </div>
  <div class="comment-content mb-1">
    {{ comment.content }}
  </div>
  <ng-container *ngIf="comment?.replyList && comment?.replyList.length">
    <div *ngFor="let child of comment.replyList" class="reply-content">
      <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child, commentId: commentId }"> </ng-template>
    </div>
    <button nz-button nzType="primary" nzBlock nzGhost>查看全部</button>
  </ng-container>
</ng-template>

<ng-template #textarea>
  <textarea rows="4" nz-input [(ngModel)]="replyValue"></textarea>
</ng-template>