<div class="m-container page-top">
  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <h2>输入</h2>
      <textarea class="inputArea" rows="8" nz-input [(ngModel)]="inputValue"></textarea>
      <button (click)="getStrBase64()">base64</button>

      <div (readerFile)="getImgBase64($event)" readerType="readAsDataURL"
        style="width:200px;height:200px;border: 1px solid #ddd;">图片转base64</div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <h2>输出</h2>
      <textarea class="inputArea" rows="8" nz-input [(ngModel)]="resultValue"></textarea>

      <button (click)="getStrBase64()">复制结果</button>
    </div>

  </div>
</div>