<div class="m-container page-top">
  <div class="info-panel">
    <h2>base64转换</h2>
    <p>支持：字符转base64、base64转字符、base64转图片。图片或text文件拖入输入框，点击按钮即可在输出框中显示</p>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <h3>输入</h3>
      <p>拖入图片、txt文件</p>
      <textarea class="inputArea" rows="8" nz-input [(ngModel)]="inputValue" (readerFile)="imgToBase64($event)" readerType="readAsDataURL"></textarea>
      <div class="mt-3 mb-3">
        <button nz-button nzType="primary" (click)="strToBase64(inputValue)" class="mr-1">字符转base64</button>
        <button nz-button nzType="primary" (click)="base64ToStr(inputValue)" class="mr-1">base64转字符</button>
        <button nz-button nzType="primary" (click)="base64ToImg(inputValue)" class="mr-1">base64转图片</button>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
      <h3>输出</h3>
      <p>输出结果</p>
      <textarea class="inputArea" rows="8" nz-input [(ngModel)]="resultValue"></textarea>
      <div class="mt-3 mb-3">
        <button nz-button nzType="primary" (click)="copy(resultValue)" class="mr-1">复制</button>
        <button nz-button nzType="primary" (click)="clear()" class="mr-1">清空</button>
      </div>
      <div>
        <h3>{{fileTitle}}</h3>
        <img [src]="fileBlob" class="img">
      </div>
    </div>
  </div>
</div>