@import "default";

.img{
  max-width: 100%;
  height: 400px;
  object-fit: contain;
}
.info-panel{
  margin-bottom: 2em;
	padding:2em;
  background-color: @background-color;
  border-radius: @border-radius-base;
}
.card-container{
  .m-card();
  padding: 2em;
}