@import "default";
.m-container{
  .m-card();
  padding:1em;
}
.img{
  max-width: 100%;
  height: 400px;
}
.info-panel{
  padding:1em;
  margin-bottom: 1em;
  background-color: @background-color;
  border-radius: @border-radius-base;
}