<nz-table
  #filterTable
  [nzData]="pageData.list"
  nzTableLayout="fixed"
  [nzFrontPagination]="false"
  [nzTotal]="pageData.total"
  [nzPageSize]="pageData.pageSize"
  [nzPageIndex]="pageData.pageNum"
  [nzLoading]="pageData.loading"
  [nzScroll]="{ x: '100%' }"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th
        nzLeft
        nzWidth="60px"
        *ngIf="checkbox"
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
      <th
        *ngFor="let column of headerData"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"

        
        [nzLeft]="column.flex == 'left'"
        [nzRight]="column.flex == 'right'"
        nzEllipsis
        [title]="column.name"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filterTable.data">
      <td
        *ngIf="checkbox"
        nzLeft
        [nzChecked]="setOfCheckedId.has(item.id)"
        [nzDisabled]="item.disabled"
        (nzCheckedChange)="onItemChecked(item?.id, $event)"></td>
      <td 
        *ngFor="let column of headerData"
        [nzLeft]="column.flex == 'left'"
        [nzRight]="column.flex == 'right'"
        nzEllipsis
        [title]="item[column.item]"
      >
        {{ item[column.item] }}
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- <nz-divider nzType="vertical"></nz-divider> -->