<nz-table
  #filterTable
  nzTableLayout="fixed"
  [nzData]="pageData?.list"
  [nzFrontPagination]="false"
  [nzTotal]="pageData?.total"
  [nzPageSize]="pageData?.pageSize"
  [nzPageIndex]="pageData?.pageNum"
  [nzLoading]="pageData?.loading"
  [nzScroll]="{ x: '100%' }"
  nzPaginationType="small"
  [nzLoadingDelay]='nzLoadingDelay'
  [nzNoResult]='nzNoResult'
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th
        *ngIf="checkbox"
        nzLeft
        nzWidth="60px"
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
      <th
        *ngFor="let column of headerData; trackBy: trackByName"
        nzEllipsis
        [nzWidth]="column.width"
        [title]="column.name"
        [nzLeft]="column?.flex === 'left'"
        [nzRight]="column?.flex === 'right'"
        [nzAlign]="column?.align"

        [nzColumnKey]="column?.code"
        [nzSortOrder]="column?.sortOrder"
        [nzSortFn]="column?.sortFn"
        [nzSortDirections]="column?.sortDirections"
        [nzFilterMultiple]="column?.filterMultiple"
        [nzFilters]="column?.listOfFilter"
        [nzFilterFn]="column?.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filterTable.data; trackBy: trackById">
      <td
        *ngIf="checkbox"
        nzLeft
        [nzChecked]="setOfCheckedId.has(item.id)"
        [nzDisabled]="item?.disabled"
        (nzCheckedChange)="onItemChecked(item?.id, $event)"></td>
      <td 
        *ngFor="let column of headerData; let index = index; trackBy: trackByName"
        nzEllipsis
        [nzLeft]="column.flex === 'left'"
        [nzRight]="column.flex === 'right'"
        [nzAlign]="item.align"
        [ngSwitch]="column?.type"
      >
        <ng-container *ngSwitchCase="'text'||null">
          <span [title]="item[column.code]">{{ item[column.code] }}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'status'">
          <nz-badge [nzColor]="column.status[item[column.code]]?.color" [nzText]="column.status[item[column.code]]?.value"></nz-badge>
        </ng-container>
        <ng-container *ngSwitchCase="'tag'">
          <ng-container *ngFor="let cell of item[column.code]">
            <span class="tag-item">{{ cell }}</span>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'action'">
          <ng-container *ngFor="let cell of column.actions">
            <a (click)="cell.fn(item,index)">{{ cell.name }}</a>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>