@import 'default';
.header{
  height: @menu-horizontal-line-height;
  display: flex;
  align-items: center;
  .bank{
    font-size: large;
    flex: 0 0 auto;
  }
  .header-menu{
    // flex: 1 1 auto;
    padding:0 2em;
  }
  .header-user-info{
    flex: 0 0 auto;
  }
}
