<div class="header">
  <div class="bank">
    <div class="bankname">{{title}}</div>
  </div>
  <!-- <div class="fill-space"></div> -->
  <nav class="header-menu">
    <app-menu [menus]="menus"></app-menu>
  </nav>
  <div class="fill-space"></div>
  <div class="rt">
    <button nz-button nzType="text" nzSize="small" nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="user"></i>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      {{userInfo?.username}}
      <ul nz-menu>
        <ng-container *ngIf="!userInfo?.username">
          <li nz-menu-item [routerLink]="['./user/login']">登录</li>
          <li nz-menu-item [routerLink]="['./user/register']">注册</li>
        </ng-container>
        <ng-container *ngIf="userInfo?.username">
          <li nz-menu-item [routerLink]="['./blog/operate', userInfo.id]">我的主页</li>
          <li nz-menu-item [routerLink]="['./user/userInfo']">用户信息</li>
          <li nz-menu-item (click)="logout()">退出</li>
        </ng-container>
      </ul>
    </nz-dropdown-menu>

    <span class="history-container">
      <button nz-button nzType="text" nzSize="small" title="浏览记录"><span nz-icon nzType="history"></span></button>
      <div class="history-list">
        浏览记录
        <div class="history-item" *ngFor="let item of history; let i = index">
          <a class="title alink" [routerLink]="[item.route]" [queryParams]="item.params" rel="nofollow">{{item.title}}</a> 
          <button nz-button nzType="text" nzSize="small"><span nz-icon nzType="delete" (click)="delHistoryItem($event, i, item)"></span></button> 
        </div>
      </div>
    </span>
    <button nz-button nzType="text" nzSize="small" title="虫洞" (click)="goPage('https://foreverblog.cn/go.html')"><span nz-icon nzType="rocket"></span></button>
    <button nz-button nzType="text" nzSize="small" title="全屏/取消" (click)="fullScrean()"><span nz-icon nzType="expand"></span></button>
    <button nz-button nzType="text" class="menuDrawer-btn" nzSize="small" (click)="openMenuDrawer()"><span nz-icon nzType="menu"></span></button>
  </div>
</div>