@import 'default';
.header{
  height: @menu-horizontal-line-height;
  display: flex;
  align-items: center;
  gap: 1em;
  .bank{
    font-size: 1.5em;
    font-weight: 500;
    // width: 200px;
  }
  // .rt{
    // width: 200px;
    // display: flex;
    // justify-content: flex-end;
  // }
}

.history-container{
  position:relative;
  .history-title{
    padding: 0 .25em;
  }
  .history-list{
    position: absolute;
    right: 0;
    padding: .5em;
    z-index: 11;
    display: none;
    .m-card();
    .history-item{
      width: 15em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .125em .5em;
      .title{
        flex:1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  &:hover .history-list{
    display: block;
  }
}
.menuDrawer-btn{
  display: none;
}

@media screen and (max-width: 768px){
    .menuDrawer-btn{
      display: block;
    }
    .header-menu{
      display: none;
    }
}
