@import 'default';
.header{
  height: @menu-horizontal-line-height;
  display: flex;
  align-items: center;
  .bank{
    font-size: large;
    flex: 0 0 auto;
  }
  .header-menu{
    flex: 1 1 auto;
    padding:0 2rem;
  }
  .header-user-info{
    flex: 0 0 auto;
  }
}
.text{  
  background-image: linear-gradient(90deg,#D25EF2,#a189db,#7797f1);
  background-repeat:no-repeat;
  background-size:400% 400%;
  animation: bg 4s infinite alternate;
  -webkit-background-clip: text;
  background-clip: text;
  color:rgba(0,0,0,.1);
  font-size: large;
  font-weight: bolder;
}
@keyframes bg{
  0%{background-position-x:0%;background-position-y:0%;}
  100%{background-position-x:100%;background-position-y:100%;}
}

