@import "default";
:host{
  width: 100%;
  height: 100%;
  padding: .5em;
  .m-card();
  display: flex;
  flex-direction: column;
  .panel-header{
    margin-bottom: 0.25em;
    .title{
      font-weight: 400;
      font-size: larger;
    }
  }
  .panel-body{
    flex: 1 1 auto;
    height: calc(100% - 1em);
  }
}