<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <input nz-input [formControlName]="item.key"
      [type]="'hidden'" *ngFor="let item of hiddenParams"/>
  <div nz-row [nzGutter]="24">
    <ng-container *ngFor="let question of _params">
      <div nz-col [nzSpan]="24/span">
        <app-form-item [question]="question" [form]="validateForm"></app-form-item>
      </div>
    </ng-container>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" class="mr-1" *ngIf="okText">{{okText}}</button>
      <button nz-button (click)="resetForm()"  *ngIf="clearText">{{clearText}}</button>
    </div>
  </div>
</form>