<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" [nzLayout]="layout">
  <input nz-input [formControlName]="item.key"
      [type]="'hidden'" *ngFor="let item of hiddenParams"/>
  <div nz-row [nzGutter]="24">
    <ng-container *ngFor="let question of _params">
      <div nz-col [nzSpan]="24/span">
        <app-form-item [question]="question" [form]="validateForm">
          <ng-container *ngFor="let cell of question?.opt">
            <button
              nz-button
              nzType="default"
              class="ml-1"
              nzSize="small"
              *ngIf="cell.type=='button'"
              [title]="cell.label" (click)="inputItemClick(question.key, cell.key)"><span nz-icon [nzType]="cell.icon"></span></button>
          </ng-container>
        </app-form-item>
      </div>
    </ng-container>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" class="mr-1" *ngIf="okText">{{okText}}</button>
      <button nz-button (click)="resetForm()"  *ngIf="clearText">{{clearText}}</button>
    </div>
  </div>
</form>