<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="24/span" *ngFor="let question of _params">
      <ng-container *ngTemplateOutlet="formTpl; context: { $implicit: question }">
      </ng-container>
    </div>
  </div>
  <ng-content select=".bottom-content"></ng-content>
  <input nz-input [formControlName]="item.key" [type]="'hidden'" *ngFor="let item of hiddenParams" />
</form>

<ng-template #formTpl let-data>
  <div class="form-item">
    <label [for]="'field'+data.key" style="white-space: nowrap;">
      {{data.label}}
      <ng-container *ngTemplateOutlet="labelContentTpl; context: { $implicit: {input: validateForm.controls[data.key]?.value, item: data} }"></ng-container>
    </label>
    <app-form-item [data]="data" [form]="validateForm"></app-form-item>
  </div>
  <ng-container *ngIf="data?.children">
    <div class="children-content">
      <ng-container *ngFor="let val of validateForm.controls[data.key]?.value|fn:getArray">
        <ng-container *ngFor="let cell of data.children[val]??[]">
          <ng-container *ngTemplateOutlet="formTpl; context: { $implicit: cell }">
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-template>