<div class="m-container page-top">
  <div class="text-btns">
    <a [routerLink]="['/nav/home/custom']"  class="a-link">我的书签</a>
    <a [routerLink]="['/nav/home/bookmark']" class="a-link">书签导航</a>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="5">
      <div class="mb-3 sticky sidebar">
        <app-menu-tree [data]="categoryTree" (ckEvent)="selectNav($event)" children="children"></app-menu-tree>
      </div>
    </div>
    
    <div nz-col nzXs="24" nzSm="24"  nzMd="18" nzLg="19">
      <div class="nav-panel">
        <div class="panel-header">
          <h1 class="title">
            {{navigation?.title}}
          </h1>
          <small class="subtitle">{{navigation?.descItem}}</small>
        </div>
        <ul role='list' class="panel-body flex wrap">
          <li
            *ngFor="let item of navigation?.bookmarkList; trackBy: trackByNavigationItem"
            class="nav-list">
            <img
              interSection
              [attr.data-source]="item.icon?faviconUrl + item.icon : defaultFavicon"
              [attr.data-type]="'attr'"
              [attr.data-attrname]="'src'"
              class="ico-img">
            <div class="nav-content">
              
              <div class="nav-name flex">
                <a
                  *ngIf="item.type=='router' else title"
                  [routerLink]="[item.link]"
                  [queryParams]="item.params"
                  class="alink ellipsis">{{item?.title}}</a>
                <ng-template #title>
                  <a
                    [href]="item.link"
                    target="_blank"
                    rel="nofollow noopener"
                    class="alink ellipsis">{{item?.title}}</a>
                </ng-template>        
              </div>
              
              <div class="nav-desc ellipsis2" [title]="item.descItem">
                {{item.descItem}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>