@import "default";
.nav-panel{
  margin-bottom: 1em;

  .panel-header{
    scroll-margin: @menu-horizontal-line-height;
    // padding: .5em 0;
    .title{
      font-size: 1.2em;
      display: flex;
      align-items: center;
      // &::before{
      //   .content();
      // }
      .opacity0{
        opacity: 0;
        flex: 0 0 auto;
      }
      &:hover .opacity0{
        opacity: 1;
        transition: opacity 2s;
      }
    }
    .subtitle{
      color: @text-muted;
    }
  }
  .panel-body{
    padding: 2em;
    .m-card();
  }
}
.nav-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 4fr));
  gap: 1em;
  .nav-item{
    // padding: .5em;
    border-bottom: 1px dashed @border-color;
    // border-radius: @border-radius-base;
    // background-color: @background-color;
    .nav-desc{
      color: @text-muted;
      font-size: 0.9em;
    }
    .opacity0{
      opacity: 0;
      flex: 0 0 auto;
    }
    &:hover .opacity0{
      opacity: 1;
      transition: opacity 2s;
    }
    
    .ico-img{
      height: 1.2em;
      width: 1.2em;
      border-radius: 20%;
      margin-right: 0.5em;
    }
  }
}

.cursor{
  cursor: pointer;
}
.text-btns{
  padding: .5em 0;
  border-bottom: 1px solid @border-color;
  margin-bottom: 1.5em;
}
.text-btn{
  font-size: 0.9em;
}
.a-link{
  padding: .25em 1em;
  font-size: 0.9em;
  user-select: none;
  &:hover{
    .a-underline()
  }
}