<div class="m-container page-top">
  <ng-container *ngIf="pageData.list.length>0 else empty">
    <div nz-row [nzGutter]="16">
      <div nz-col nzXs="24" nzSm="24" nzMd="6" class="mb-3" *ngFor="let item of pageData?.list; trackBy: trackByItem">
        <div class="user-panel">
          <i nz-icon [nzType]="item?.avatar" class="avatar"></i>
          <div class="title">{{item?.username}}</div>
          <div class="desc">
            <span class="desc-item">年龄：{{item?.createTime|date:'yyyy-MM-dd'}}</span>
            <span class="desc-item">邮箱：{{item?.email}}</span>
          </div>
          <div class="action">
              <button
                nz-button
                nzType="text"
                class="mr-1"
                nzSize="small"
                [routerLink]="['/blog/operate', item.id]">进入主页</button>
              <button
                nz-button
                nzType="text"
                nzSize="small"
                (click)="delFocus(item.id)">取消关注</button>
          </div>
        </div>
      </div>
    </div>
    <nz-pagination
      [(nzPageIndex)]="pageData.pageIndex"
      [nzTotal]="pageData.total"
      [nzSize]="'small'"
      [nzShowTotal]="totalTemplate"
      (nzPageIndexChange)="load($event, otherId)"></nz-pagination>
    <ng-template #totalTemplate let-total>共 {{ pageData.total }} 条</ng-template>
  </ng-container>
  <ng-template #empty>没有数据</ng-template>
</div>