@import 'default';

.img-container{
  display: flex;
  flex-wrap: wrap;
  .img-item{
    width:3em;
    height:3em;
    margin:.25em;
    cursor: pointer;
    position: relative;
    .after{
      position: absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background-color: @primary-color;
      opacity: 0;
    }
    &:hover .after{
      opacity: .4;
      transition: opacity 1s;
    }
  }
}
.avatar{
  font-size: 3em;
}