@import 'default';
.layout-header{
  position: sticky;
  top: 0;
  bottom:0;
  z-index: 100;
  background-color: rgba(255,255,255,.3);
  backdrop-filter: blur(15px) saturate(1) contrast(0.9);
  box-shadow: 0 6px 18px 0 rgb(0 0 0 / 10%);
}
.layout-container{
  width:100%;
  min-height: 100vh;
}
.layout-footer{
  padding: 2rem 0;
  background-color: @primary-color;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background: url(../../../assets/image/common/angular.svg) top 13px left 0 repeat,url(../../../assets/image/common/angular.svg) top 55px left 156px repeat;
    background-size: 64px;
    opacity: .05;
    z-index: -1;
  }
}
.back-container{
  position: sticky;
  top: -110px;
  float: right;
  width: 0;
  height: 0;
  z-index:100;
  .back{
    width: @menu-horizontal-line-height;
    height: @menu-horizontal-line-height;
    border-radius: 50%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E %3Cpath fill='%23ffffff' d='M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z'%3E%3C/path%3E %3C/svg%3E") center no-repeat  @primary-color;
    background-size: 50%;
    cursor: pointer;
    transform: translateY(calc(100vh + @menu-horizontal-line-height));
    position: absolute;
    right: 10px;
  }
}
.history-title{
  color: @text-muted;
}
.history-list{
  position: absolute;
  right: 0;
  padding: .25rem 0;
  z-index: 11;
  display: none;
  .m-card();
  .history-item{
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      flex:1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.history-container:hover{
  .history-list{
    display: block;
  }
}

.page-info-bar{
  background-color: @accent-color;
}
.alink{
  padding: .125rem .8rem;
  color: rgba(0,0,0,.85);
  &:hover{
    background-color: rgba(0,0,0,.04);
  }
}