@header-height: 3rem;
.layout-site{
  width:100%;
  min-height: 100vh;
  .layout-header{
      position: fixed;
      top:0;
      left:0;
      right:0;
      z-index: 100;
      height: @header-height;
      box-shadow: 0 6px 22px -16px rgba(6, 6, 6, 0.4);
  }
  .layout-container{
      width:100%;
      padding-top: @header-height;
  }
 
}
.layout-footer{
  padding:3rem 0;
  background-color:#000;
  color:#fff;
  margin-top:2rem;
}



