<div class="layout-site">
  <a class="back" href="#"></a>
  <header class="layout-header">
    <app-header [menus]="menus"></app-header>
  </header>  
  <main class="layout-container">
    <div class="m-container">
      <app-breadcrumb [breadcrumbMenus]="breadcrumbMenus"></app-breadcrumb>
    </div>
    <div class="layout-main-container">
      <router-outlet></router-outlet>

    </div>
  </main>
</div>
<footer class="layout-footer">
  <div class="m-container">
    <app-footer></app-footer>
  </div>
</footer>
