.grid{
  width: 600px;
  height: 600px;
  background-image: url(../../../../assets/image/common/bg-grid.svg);
}

.mandala {
  font-weight: 300;
}
.mandala-rotation{
  animation: rotation 500s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}