@import "default";

.nav-panel{
  margin-bottom:1rem;
  margin-top: -46px;
  .panel-header{
    margin-bottom: .5rem;
    padding-top: 46px;
    .title{
      font-size: larger;
      font-weight: 400;
    }
    .subtitle{
      color: #999;
    }
  }
  .panel-body{
    padding: 1rem;
    .m-card();
  }
}
.nav-list{
  display: flex;
  padding: .5rem;
  margin-bottom: 1em;
  margin-right: 1em;
  width: 30%;
  height: 62px;
  min-width: 240px;
  border: 1px solid @border-color;
  border-radius: @border-radius-base;
  .nav-content{
    flex: 1 1 auto;
    width: 50%;
    .nav-desc{
      color: @text-muted;
    }
    .opacity0{
      opacity: 0;
      flex: 0 0 auto;
    }
    &:hover .opacity0{
      opacity: 1;
      transition: opacity 1.5s;
    }
  }
  .ico-img{
    height: .9rem;
    width: .9rem;
    border-radius: 20%;
    margin-right: .4rem;
    margin-top: 0.3rem;
  }
}
.text-btns{
  position: relative;
  z-index: 1;
}
.alink{
  color: rgba(0,0,0,.85);
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cursor{
  cursor: pointer;
}