@import "default";
.container{
  display: flex;
  .rt-container{
    padding: 0 1rem;
    width: calc(100% - 15rem);
  }
  .lf-container{
    width: 15rem;
  }
}
.sidebar{
  padding: 0.5rem;
}
.nav-panel{
  margin-bottom:1rem;
  margin-top: -46px;
  .panel-header{
    margin-bottom: .5rem;
    padding-top: 46px;
    .title{
      font-size: larger;
      font-weight: 400;
    }
    .subtitle{
      color: #999;
    }
  }
  .panel-body{
    padding: 1rem;
    .m-card();
  }
}
.nav-list{
  display: flex;
  align-items: center;
  padding: 0 .25rem;
  margin-bottom: .5rem;
  width: 178px;
  .ico-img{
    height: .9rem;
    width: .9rem;
    border-radius: 20%;
  }

  .nav-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width:250px;
  }
}
.text-btns{
  position: relative;
}
.alink{
  color: rgba(0,0,0,.85);
}