<div nz-col [nzSpan]="24/span">
  <nz-form-item [formGroup]="form">
    <nz-form-label [nzFor]="question.key" *ngIf="!['hidden'].includes(question.type)">{{question.label}}</nz-form-label>
    <ng-container [ngSwitch]="question?.controlType">
        <!-- input输入框 -->
        <nz-form-control *ngSwitchCase="'textbox'">
            <nz-input-number *ngIf="question.type=='number' else ortherInput" [formControlName]="question.key" [id]="question.key"></nz-input-number>
            <ng-template #ortherInput>
                <input nz-input [formControlName]="question.key" [id]="question.key"
                    [type]="question.type||'text'"/>
            </ng-template>
        </nz-form-control>
    </ng-container>
  </nz-form-item>
</div>