<div class="m-container page-top">
  <div class="login-panel">
    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <input type="hidden" formControlName="id"/>
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
          <nz-form-item>
            <nz-form-label>用户名</nz-form-label>
            <nz-form-control [nzErrorTip]="usernameErrorTpl">
              <input nz-input type="text" formControlName="username" placeholder="input placeholder" />
              <ng-template #usernameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('minlength')">
                  不可少于2个字符
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">
                  不可超过8个字符
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>邮箱</nz-form-label>
            <nz-form-control [nzErrorTip]="emailErrorTpl">
              <input nz-input type="text" formControlName="email" placeholder="input placeholder" />
              <ng-template #emailErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  必填项
                </ng-container>
                <ng-container *ngIf="control.hasError('forbiddenName')">
                  邮箱格式错误
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>手机</nz-form-label>
            <nz-form-control [nzErrorTip]="phoneErrorTpl">
              <input nz-input type="text" formControlName="phone" placeholder="input placeholder" />
              <ng-template #phoneErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  必填项
                </ng-container>
                <ng-container *ngIf="control.hasError('forbiddenName')">
                  手机格式错误
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="24"  nzMd="12" nzLg="12">
          <nz-form-item>
            <nz-form-label>头像</nz-form-label>
            <nz-form-control [nzErrorTip]="avatarErrorTpl">
              <app-image-select formControlName="avatar" [items]="avatars" [useSvgIcon]="true"></app-image-select>
              <ng-template #avatarErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  必填项
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="login-form-margin">
          <a [routerLink]="['/user/login']" style="float: right;">登录</a>
      </div>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">提交</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>