
<div class="searchbar">
  <div class="item" *ngFor="let item of searchUriData">
    <button class="btn-text" style="color: rgba(210, 210, 210, 0.7);" (click)="search(item.searchUri,item.indexUri)">{{item.name}}</button>
    <div class="item-cell-list">
      <button class="btn-text" *ngFor="let cell of item.content" (click)="search(cell.searchUri, cell.indexUri)">{{cell.name}}</button>
    </div>
  </div>
</div>
<form [formGroup]="form" >
  <div class="search">
    <input type="text" class="search-input" formControlName="searchValue"
      (keydown.esc)="clearTip()"
      (keydown.enter)="search('https://www.baidu.com/s?wd=', 'https://www.baidu.com')">
    <div class="search-list" *ngIf="tips?.length>0">
      <button
        class="item ellipsis"
        *ngFor="let tip of tips"
        (click)="search('https://www.baidu.com/s?wd=', 'https://www.baidu.com',tip)"
        (focusin)="selSearchList(tip)"
        (keydown.enter)="search('https://www.baidu.com/s?wd=', 'https://www.baidu.com',tip)">{{tip}}</button>
      <button nz-button nzType="default" nzShape="circle" class="close" (click)="clearTip()"><i nz-icon nzType="close"></i></button>
    </div>

    <button class="search-btn" (click)="search('https://www.baidu.com/s?wd=', 'https://www.baidu.com')" title="搜索">
      <i nz-icon nzType="search" nzTheme="outline"></i></button>
    <button class="search-btn" title="清空搜索条件" (click)="clearSearch()">
      <i nz-icon nzType="close" nzTheme="outline"></i></button>
  </div>
</form>
