@import "../../../styles/default.less";
.grid{
    display: flex;
    .column{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding:0 .25rem;
    }
}

.nav-list{
  display: flex;
  align-items: center;
  line-height: 36px;
  color: #666;
  cursor: pointer;
  font-size:.8rem;
  padding:0 .5rem;
  border-radius: .2rem;
  &:hover{
      background-image: linear-gradient(to right,@primary-color,transparent);
  }
  .ico-img{
    margin-right:.4rem;
    max-width:.9rem;
  }
}
.panel{
    margin-bottom:1rem;
  .panel-header{
    //   background-image: linear-gradient(to right,rgba(222,222,222,.4),rgba(222,222,222,0));
      line-height: 2rem;
      margin-bottom: .5rem;
      display: flex;
      align-items: center;
      border-radius: .2rem;
      color: #666;
      font-size: large;
      font-weight: 400;
      &::before{
        content: '';
        display: inline-block;
        width: 0;
        height: 1.2rem;
        border-right: 0.2rem solid @primary-color;
        margin-right: 0.4rem;
      }
  }
}
