@import "../../../styles/default.less";
.grid{
    display: flex;
    .column{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding:0 .25rem;
    }
}

.nav-list{
  display: flex;
  color: #666;
  cursor: pointer;
  font-size:.8rem;
  padding:.1rem .5rem;
  border-radius: .2rem;
  &:hover{
      background-image: linear-gradient(to right,@primary-color,transparent);
      .nav-tag{
        opacity: 1;
        transform: translateX(0px);
        transition: opacity 1s, transform 1s;
      }
  }
  .ico-img{
    margin-right:.4rem;
    margin-top: 4px;
    height:.9rem;
  }
  .nav-tag{
    opacity: 0;
    transform: translateX(40px);
    font-size:.7rem;
  }
  .nav-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
  }
  
}
.panel{
    margin-bottom:1rem;
  .panel-header{
      margin-bottom: .5rem;
      
      .title{
        line-height: 2rem;
        font-size: large;
        font-weight: 400;
        color: #666;
        display: flex;
        align-items: center;
        &::before{
          content: '';
          display: inline-block;
          width: 0;
          height: 1.2rem;
          border-right: 0.2rem solid @primary-color;
          margin-right: 0.4rem;
        }
      }
      .subtitle{
        color: #999;
      }
      
  }
}
