
<div class="text-btns">
  <a [routerLink]="['../gallery']" class="text-btn mr-3">推荐书签</a>
  <a [routerLink]="['../custom']"  class="text-btn mr-3">我的书签</a>
  <a [routerLink]="['../bookmark']" class="text-btn mr-3">书签导航</a>
  <span (click)="randomPages()" class="text-btn mr-3">随机打开</span>
</div>
<div class="grid">
  <div class="column" *ngFor="let columndata of navList; trackBy: trackByNavigationList">
    <div *ngFor="let navigation of columndata; trackBy: trackByNavigation" class="nav-panel">
      <div class="panel-header sticky">
        <div class="title">{{navigation.title}}</div>
        <small class="subtitle">{{navigation.descItem}}</small>
      </div>
      <div class="panel-body">
        <ul>
          <li
            *ngFor="let item of navigation?.children; trackBy: trackByNavigationItem"
            class="nav-list">
            <img
              [src]="item.icon"
              class="ico-img">
            <div>
              <div class="nav-name">
                <a *ngIf="item.type=='router' else title" [routerLink]="[item.route]" [queryParams]="item.params" class="alink">{{item.title}}</a>
                <ng-template #title>
                  <a [href]="item.link" target="_blank" rel="nofollow noopener" class="alink">{{item?.title}}</a>
                </ng-template>
              </div>
              <small class="nav-tag">
                {{item.descItem}}
              </small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>