@import "default";
.grid{
  display: flex;
  .column{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    padding:0 .25rem;
  }
}
.nav-list{
  display: flex;
  padding: 0 .25rem;
  margin-bottom: .5rem;
  .ico-img{
    margin-top: 4px;
    height: 1rem;
    width: 1rem;
    border-radius: 20%;
    opacity: .8;
  }
  .nav-tag{
    color: #999;
  }
  .nav-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width:250px;
  }
}
.nav-panel{
  margin-bottom:1rem;
  .panel-header{
    margin-bottom: .5rem;
    background-color: @background-color-light;
    backdrop-filter: blur(20px);
    .title{
      font-size: larger;
      font-weight: 400;
      display: flex;
      align-items: center;
      &::before{
        content: '';
        display: inline-block;
        width: 0;
        height: 1.2rem;
        border-right: 0.2rem solid @accent-color;
        margin-right: 0.4rem;
      }
    }
    .subtitle{
      color: #999;
    }
  }
}
