@import 'default';

.tag-list{
  display: flex;
  padding:.2rem;
  margin:.4rem;
  width:5rem;
  cursor: pointer;
  border-radius: .5rem;
  // &:hover {
  //   background-color: #1abc9c;
  //   color: #fff;
  // }
  .tag-name{
    padding:0 .4rem;
    font-size: small;
  }
  .icon{
    font-size: large;
  }
}
.tag-panel{
  .tag-title{
    font-size: larger;
  }
  .tag-desc{
    font-size:small;
    color:#999;
    padding-bottom:.5rem;
  }
}
.sel-bg{
  background-color: @primary-color;
  color: #fff;
}