@import 'default';

.tag-item{
  display: flex;
  padding:.2rem;
  margin:.4rem;
  width:5rem;
  cursor: pointer;
  border-radius: @border-radius;
  .tag-name{
    padding:0 .4rem;
    font-size: small;
  }
  .icon{
    font-size: large;
  }
}
.tag-panel{
  .tag-title{
    font-size: larger;
  }
  .tag-desc{
    font-size:small;
    color:#999;
    padding-bottom:.5rem;
  }
}
.sel-bg{
  background-color: @primary-color;
  color: #fff;
}