HTML SCSSResult Skip Results Iframe
<div class="container">

  <div class="FiveHundred">
    <div class="digit">
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line off"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line off"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
    </div>
    <div class="digit">
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line off"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
    </div>
    <div class="digit">
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
      <div class="line off"><div class="front"></div><div class="top"></div><div class="bottom"></div><div class="topLeft"></div><div class="topRight"></div><div class="bottomLeft"></div><div class="bottomRight"></div></div>
    </div>
  </div>
</div>


Resources1× 0.5× 0.25×Rerun