.button {
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  
  .close {
    --opacity: 1;
    --offset: 0px;
  
    position: relative;
    color: red;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 15px;
    color: #000;
    display: inline-block;
    transform-style: preserve-3d;
    transform-origin: center center;
  
    &::before,
    &::after {
      content: "";
      top: -5px;
      position: absolute;
      left: 0;
      background: currentColor;
      display: block;
      width: 100%;
      height: 1px;
      opacity: var(--opacity);
      transform: translateY(calc(-1 * var(--offset)));
      transition: all 0.2s;
    }
  
    &::after {
      top: 5px;
      transform: translateY(var(--offset));
    }
  
    &--x {
      color: #ff0000;
      background: currentColor;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      transition: transform 0.2s, color 0.5s ease-out;
      will-change: transform;
    }
  
    .active & {
      --offset: 20px;
      --opacity: 0;
  
      &--x {
        color: #000000;
        transform: rotate(45deg) scaleX(0.7);
  
        &:last-of-type {
          transform: rotate(-45deg) scaleX(0.7);
        }
      }
    }
  }
  