<div class="menu">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: {menus:menus} }"></ng-container>
  <ng-template #menuTpl let-params>
    <ng-container *ngFor="let menuItem of params.menus">
      <div class="menu-item" *ngIf="menuItem.isMenuShow !== false" [ngSwitch]="menuItem.type">
        <ng-container *ngSwitchCase="'sub'" >
          <span class="title">{{menuItem.title}}</span>
          <div class="sub-menu">
            <ng-container *ngTemplateOutlet="menuTpl; context: {
              $implicit: {
                menus:menuItem.children
              }}">
          </ng-container>
          </div>
        </ng-container>
        <a
          *ngSwitchCase="'router'" 
          [routerLink]="[menuItem.route]">
          <div class="alink">
            {{menuItem.title}}
          </div>
          </a>
        <a *ngSwitchCase="'link'" (click)="open(menuItem.link)">
          <div class="alink">
            {{menuItem.title}}
          </div>
        </a>
      </div>
    </ng-container>
  </ng-template>
</div>