@import 'default';
.menu{
  display: flex;
  .menu-item{
    position: relative;
    white-space: nowrap;
    .title{
      padding: 0.25rem 1rem;
    }
    .sub-menu{
      .m-card();
      position: absolute;
      top: 100%;
      left: 0;
      padding: .25rem 0;
      display: none;
    }
    &:hover>.sub-menu{
      display: block;
    }
  }
}
.alink{
  padding: .125rem .8rem;
  color: rgba(0,0,0,.85);
  &:hover{
    background-color: rgba(0,0,0,.04);
  }
}