<div class="art-list m-shadow" *ngFor="let item of listData">
  <div class="art-info">
    <div class="list-author">{{item?.author?.username}}</div>
    <div class="list-title" (click)="open(item.id)">{{item.title}}</div>
    <div class="list-desc">{{item.descItem}}</div>
    <div class="tag">
      标签:
      <span class="tagItem" *ngFor="let cell of item?.tagList">{{cell.name}}</span>
    </div>
  </div>
  <div class="list-img" *ngIf="item.imgUrl">
    <img [src]="item.imgUrl" alt="" class="img">
  </div>
</div>