<div class="art-list" *ngFor="let item of listData">
  <div class="art-info">
    <div class="top-list">
      <a [routerLink]="['/blog/operate']" [queryParams]="{userId: item?.author?.id}">
        <i nz-icon [nzType]="item?.author?.avatar"></i>
        <span>{{item?.author?.username}}</span>
      </a>
    </div>
    <h3 class="list-title">
        <a [routerLink]="['/blog/detail']" [queryParams]="{id: item.id}">
          {{item.title}}
        </a>
    </h3>
    <div class="list-desc">{{item.descItem}}</div>
    <div class="tag">
      <span class="tagItem" *ngFor="let cell of item?.tagList">{{cell.title}}</span>
    </div>
  </div>
  <div class="list-img">
    <img [src]="item.postImage||(defaultBanners | fn:getRandom)" alt="" class="img">
  </div>
</div>