@import "default";

.card-container{
  .m-card();
  padding: 2em;
}
.grid{
  display: flex;
  // gap:1em;
  .column{
    width: 50%;
  }
}
.marked-container{
  background-color: @background-color;
  border-radius: 3px;
  width:100%;
  height: 28em;
  padding:10px;
  overflow-y: auto;
}

.file-list{
  .file-item{
    display: flex;
    padding: .25em;
    gap: 1em;
    .file-img{
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
    .file-info{
      flex: 1 1 auto;
      user-select: text;
      .file-name{
        font-size: 1.2em;
      }
    }
  }
}