
<div class="m-container flex page-top">
  <div style="width:600px;">
    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <nz-form-item>
        <nz-form-label nzRequired>分类</nz-form-label>
        <nz-form-control nzErrorTip="必填项">
          <nz-select
            nzShowSearch
            nzPlaceHolder="分类选择"
            formControlName="category">
            <nz-option *ngFor="let option of categoryList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>tag</nz-form-label>
        <nz-form-control nzErrorTip="必填项">
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzShowSearch
            nzPlaceHolder="标签选择"
            formControlName="tagList">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.title" [nzValue]="option.id"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired>描述</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzErrorTip]="descItemErrorTpl">
          <textarea formControlName="descItem" nz-input rows="2" placeholder="write any thing"></textarea>
          <ng-template #descItemErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              必填项
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              不可少于4个字符
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              不可超过400个字符
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <app-upload
          url="/file/uploadMultipart/"
          accept=".pdf,.jpg,.jpeg,.png"
          [(files)]=files></app-upload>
          <ul class="file-list">
            <li class="file-item" *ngFor="let item of files; let i = index">
                <img [src]="item.safeUrl" class="file-img" [title]="item.name">
                <div class="file-info">
                  <div class="file-name">{{item.name}}</div>
                  <div
                    class="file-url"
                  >{{item.url}}</div>
                </div>
            </li>
          </ul>
        <!-- <nz-upload
          nzAction="/file/upload/"
          [nzName]="'uploadFile'"
          [nzRemove]="nzRemove"
          [nzSize]="1024"
          [nzFileList]="fileList"
          nzListType="picture"
          (nzChange)="handleChange($event)">
          <button nz-button type="button">
            <i nz-icon nzType="upload"></i>
            Upload
          </button>
        </nz-upload> -->
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired>内容</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzErrorTip]="contentErrorTpl">
          <textarea formControlName="content" nz-input rows="20" placeholder="write any thing"></textarea>
          <ng-template #contentErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              必填项
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              不可少于10个字符
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              不可超过3000个字符
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="mr-1" nzType="primary">提交</button>
          <button
            nz-button
            type="button"
            nzType="primary"
            (click)="refresh()">预览</button>
        </nz-form-control>
      </nz-form-item>
    </form>  
  </div>
  <div class="rt-container">
    <div class="markdown sticky marked-container" [innerHTML]="refreshContent | marked"></div>
  </div>
</div>
