
<div class="m-container flex">
  <div style="width:600px;">
    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <nz-form-item>
        <nz-form-label nzRequired>标题</nz-form-label>
        <nz-form-control [nzErrorTip]="titleErrorTpl">
          <input nz-input formControlName="title" placeholder="文章的标题" />
          <ng-template #titleErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              必填项
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              不可少于4个字符
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              不可超过40个字符
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>tag</nz-form-label>
        <nz-form-control nzErrorTip="必填项">
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="标签选择"
            formControlName="tagList">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired>描述</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzErrorTip]="descItemErrorTpl">
          <textarea formControlName="descItem" nz-input rows="2" placeholder="write any thing"></textarea>
          <ng-template #descItemErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              必填项
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              不可少于4个字符
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              不可超过200个字符
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired>内容</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzErrorTip]="contentErrorTpl">
          <textarea formControlName="content" nz-input rows="20" placeholder="write any thing"></textarea>
          <ng-template #contentErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              必填项
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              不可少于10个字符
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              不可超过1200个字符
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">提交</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    
  </div>
  <div class="markdown-container sticky">
    <!-- <markdown lineNumbers ngPreserveWhitespaces [data]="content"></markdown> -->
    <div [innerText]="content | marked"></div>
  </div>
</div>
