@import "default";

.links-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 4fr));
  gap: 1em;
  .link-item{
    padding: 1em;
    .m-card();
    .title{
      font-size: 1.2em;
    }
    .desc{
      color: @text-muted;
    }
  }
}
.cursor{
  cursor: pointer;
}