@import "default";

.links-container{
  padding: 2em;
    .m-card();
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 4fr));
  gap: 1em;
  .link-item{
    border-bottom: 1px dashed @border-color;
    .title{
      font-size: 1.1em;
    }
    .desc{
      color: @text-muted;
    }
  }
}
.cursor{
  cursor: pointer;
}