<div class="m-container page-top">
  <h1>友情链接</h1>
  <h2>
    朋友们
  </h2>
  <p>欢迎大家前往访问。</p>
  <ng-container  *ngFor="let key of category">
    <h3>{{ key }}</h3>
    <div class="links-container">
      <div class="link-item" *ngFor="let item of data?.[key]">
          <div class="title">
            <a [href]="item.link" target="_blank" class="alink" rel="noopener">{{item.title}}</a>
          </div>
          <div class="desc ellipsis2" [title]="item.descItem">{{item.descItem}}</div>
      </div>
    </div>
  </ng-container>

  <h2 style="margin-top:4em;">
    友链说明
  </h2>
  <p>
    感谢大家访问本站。如需申请友链，可以给站长发送邮件（980479803@qq.com）。
  </p>
  <h3>内容</h3>
  <p>互换链接内容：</p>
  <p>
    名称: cicode<br>
    地址: http://www.cicode.cn<br>
    头像: http://www.cicode.cn/favicon.ico<br>
    描述: 技术内容分享与在线开发工具<br>
  </p>
  <h3>友链要求</h3>
  <ol>
    <li>友链必须有独立域名且ICP备案，建站时间一年以上。</li>
    <li>本站招同类原创、内容相近的博客或网站(经验分享、IT、设计、网址导航等等)。</li>
  </ol>
  <p>
    
    请先确认本站添加友链之后，再添加本站的信息，站长会邮件通知。<br>
    站长会定期检查，如果链接长期失效，没有互相添加友链等，本站将删除友链，不另行通知。<br>
  </p>
</div>