.dropFileContainer{
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}
.toolbar{
  position: fixed;
  right: 0;
  top: 1rem;
  z-index: 10;
  background-color: rgba(255,255,255,.6);
  width: 20rem;
  max-height: 100%;
  padding: 1rem 0;
  border-radius: 2rem;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  .edit-con{
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
    padding: 0 1rem;
  }
  .file-con{
    display: flex;
    padding: 0 1rem;
  }
}
.rightArrow{
  position: absolute;
  top:3rem;
  right:100%;
  opacity: .1;
  color:#999;
  cursor:pointer;
  &:hover{
    opacity: 1;
    background-color: #f00;
  }
}