<div class="toolbar" [@rightArrow]="isShowBox">
  <i nz-icon nzType="arrow-left" nzTheme="outline" class="rightArrow" (click)="isShowBox = !isShowBox"></i>
  <div class="file-con">
    <div
      class="dropFileContainer mr-2"
      (readerFile)="mapReaderFile($event)"
      (progress)="progress($event)"
      [fileType]="['csv']">
      <div>拖入数据-csv</div>
      <div>{{mapFileName}}</div>
    </div>
    <div
      class="dropFileContainer"
      (readerFile)="settingReaderFile($event)"
      (progress)="progress($event)"
      [fileType]="['json']">
      <div>拖入配置-json</div>
      <div>{{settingFileName}}</div>
    </div>
  </div>
  <div class="edit-con">
    <nz-radio-group class="mt-3" [(ngModel)]="mapType" nzSize="small" (ngModelChange)="switchMapType($event)">
      <label *ngFor="let item of mapTypeOption" nz-radio-button [nzValue]="item.code">{{item.label}}</label>
    </nz-radio-group>
    <div elHost class="mt-3"></div>
  </div>
  <nz-button-group>
    <button nz-button nzType="primary" (click)="clearLayer()">清空图层</button>
    <button nz-button nzType="primary" (click)="download()">下载配置</button>
  </nz-button-group>
  
</div>
<app-gd-map
  [heatData]="heatData"
  [heatStyle]="heatStyle"
  [gridData]="gridData"
  [gridStyle]="gridStyle"
  [polyLineData]="polyLineData"
  [markerData]="markerData"
></app-gd-map>