<div class="m-container page-top">
    <div class="info-panel">
      <h2>markdown、html</h2>
      <p>markdown转HTML、HTML处理、文本处理</p>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
        <h3>输入</h3>
        <p>输入内容</p>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="inputValue"></textarea>
        <div class="mt-3 mb-3">
          <button nz-button nzType="primary" (click)="markedToHtml(inputValue)" class="mr-1">markdown转HTML</button>
          <button nz-button nzType="primary" (click)="markedToHtml(inputValue)" class="mr-1">markdown转Object</button>
          <button nz-button nzType="primary" (click)="markedToHtml(inputValue)" class="mr-1">HTML转Object</button>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
        <h3>输出</h3>
        <p>输出结果</p>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="resultValue"></textarea>
        <div class="mt-3 mb-3">
          <button nz-button nzType="primary" (click)="copy(resultValue)" class="mr-1">复制</button>
          <button nz-button nzType="primary" (click)="clear()" class="mr-1">清空</button>
        </div>
      </div>
    </div>
  </div>