<div class="m-container flex">
  <div class="column" style="width:300px;">
    <div class="panel bg-muted">
      <div>名称：{{otherInfo?.username}}</div>
      <div>创建时间：{{otherInfo?.createTime|date:'yyyy-MM-dd'}}</div>
      <button nz-button nzType="primary" nzShape="round" *ngIf="!isSelf else setting">关注</button>
      <ng-template #setting>
        <button nz-button nzType="primary" nzShape="round">设置</button>
      </ng-template>
    </div>
    <div class="panel sticky">
      <div class="panel-header">
        <span class="title">分类</span>
      </div>
      <div class="panel-list">
        <div class="panel-item" [class.active]="selCategoryData?.id == item.id" *ngFor="let item of categorys" (click)="selCategory(item)">
          <span class="label">{{item.name}}</span>
        </div>
        <div class="panel-item"><span class="label">未分类</span></div>
      </div>
    </div>
  </div>
  <div class="column" style="width:600px;">
      <div class="art-list m-shadow" *ngFor="let item of page?.list">
        <div class="art-info">
          <div class="tag">
            <span class="tagItem bg-muted" *ngFor="let cell of item?.tagList">{{cell.name}}</span>
          </div>
          <h3 class="list-title">
              <a [routerLink]="['/blog/detail']" [queryParams]="{id: item.id}">
                {{item.title}}
              </a>
          </h3>
          <div class="list-desc">{{item.descItem}}</div>
          <div class="action" *ngIf="isSelf">
            <button nz-button nzType="text" nzShape="round" nzSize="small" (click)="editArticle(item.id)">编辑</button>
            <button nz-button nzType="text" nzShape="round" nzSize="small"
                nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this article?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="delArticle(item.id)"
                (nzOnCancel)="cancelDelete()"
              >删除</button>
          </div>
        </div>
        <div class="list-img" *ngIf="item.imgUrl">
          <img [src]="item.imgUrl" alt="" class="img">
        </div>
      </div>
      <nz-pagination
        [(nzPageIndex)]="page.pageIndex"
        [nzTotal]="page.total"
        [nzSize]="'small'"
        [nzShowTotal]="totalTemplate"
        (nzPageIndexChange)="load($event, otherId)"></nz-pagination>
      <ng-template #totalTemplate let-total>Total {{ page.total }} items</ng-template>
  </div>
  <div class="column" style="width:300px;">
    <div class="panel">
      <div class="panel-header">
        <span class="title">收藏</span>
      </div>
      <div class="panel-list">
        <div class="panel-item"><span class="label">这里是收藏的文章</span></div>
      </div>
    </div>
  </div>
</div>