<div class="m-container page-top">
  <div #artAnchor class="anchor"></div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6">
      <div class="user-panel">
        <i nz-icon [nzType]="otherInfo?.avatar" class="avatar"></i>
        <div class="title">{{otherInfo?.username}}</div>
        <div class="desc">
          <span class="desc-item">年龄：{{otherInfo?.createTime|date:'yyyy-MM-dd'}}</span>
          <span class="desc-item">邮箱：{{otherInfo?.email}}</span>
        </div>
      </div>
      <div class="panel mb-3">
        <div class="panel-header">
          <span class="title">分类</span>
        </div>
        <div class="panel-body">
          <button class="m-button mr-1 mt-1"
            [class.active]="selCategoryData?.id == item.id"
            *ngFor="let item of categorys; trackBy: trackByCategoryItem"
            (click)="selCategory(item)">
            <span class="label">{{item.name}}</span>
          </button>
        </div>
      </div>
      <div class="panel">
        <div class="panel-header">
          <span class="title">更多</span>
        </div>
        <div class="flex wrap">
          <button nz-button nzType="text" 
          class="mr-1" [nzLoading]="loading" *ngIf="isloign && !isSelf" (click)="doFocus(otherId)">{{isFocus?'取消关注':'关注'}}</button>
          <ng-container *ngIf="isloign && isSelf">
            <a class="a-link mr-1" [routerLink]="['/blog/collect']" [queryParams]="{userId: otherId}">收藏</a>
            <a class="a-link mr-1" [routerLink]="['/blog/focus']" [queryParams]="{userId: otherId}">关注</a>
            <a class="a-link mr-1" [routerLink]="['/blog/category']" [queryParams]="{}">分类设置</a>
          </ng-container>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24"  nzMd="16" nzLg="18">
      <div class="cards">
        <app-card [data]="item" style="margin-bottom: 2em;" *ngFor="let item of page?.list; trackBy: trackByArticleItem">
          <div class="footer" *ngIf="isSelf">
            <button nz-button nzType="text" nzSize="small"
            class="mr-1" (click)="editArticle(item.id)">编辑</button>
            <button nz-button nzType="text" nzSize="small"
                nz-popconfirm
                nzPopconfirmTitle="确认删除文章吗?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="delArticle(item.id)"
              >删除</button>
          </div>
        </app-card>

        <nz-pagination
          [(nzPageIndex)]="page.pageIndex"
          [nzTotal]="page.total"
          [nzSize]="'small'"
          [nzShowTotal]="totalTemplate"
          (nzPageIndexChange)="load($event, otherId, true)"></nz-pagination>
        <ng-template #totalTemplate let-total>共 {{ page.total }} 条</ng-template>
      </div>
         
    </div>
  </div>
      

</div>