@import 'default';

.panel-item{
  cursor: pointer;
}
.a-link{
  padding: .125em .8em;
  &:hover{
    .a-underline()
  }
}
.grid{
  display:flex;
  flex-wrap: wrap;
  .cell{
    width:calc(50% - 1em);
    margin-right: 1em;
    margin-bottom: 1em;
    flex: 0 0 auto;
  }
}