@import "default";

.grid{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: .5em;
  height: 100%;
}
.btn-group{
  display: flex;
  gap: 0.25em;
  height: 100%;
  .btn-card{
    border-radius: @border-radius-base;
    background-color: #19131D;
    color: rgba(255, 255, 255, .7);
    border: none;
    flex: 1 1 auto;
    min-height: 2em;
    cursor: pointer;
  }
}
.text-panel{
  background-color: #19131D;
}