@import (reference) "default";


.opt-content{
  display: grid;
  grid-template-columns: minmax(30em, 60%) repeat(auto-fit, minmax(1em, auto));
  background-color: @primary-color;
}

.btn-card{
  background-color: transparent;
  color: rgba(255, 255, 255, .7);
  border-width: 0;
  cursor: pointer;
  display: block;
  border-left: 1px solid @border-color;
  user-select: none;
}

// .info-bar{
  // .m-card();
  // padding: 1em;
  // margin-bottom: 1em;
// }