
<div class="m-container page-top">
  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="14">
      <app-search></app-search>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="10">
      <div class="btn-group">
        <button class="btn-card" (click)="randomPage()" [disabled]="isLoading">
          随机导航
        </button>
        <button class="btn-card">
          开往
        </button>
        <button class="btn-card" (click)="goPage('https://foreverblog.cn/go.html')">
          虫洞
        </button>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>