.dy-panel{
  padding: .5em;
  .panel-header{
    display: flex;
    margin-bottom:1em;
    .title{
      font-weight: 600;
      cursor: pointer;
      padding: 0 .25em;
      &.active{
        color: #f00;
      }
    }
  }
}