.dy-panel{
  padding: .5rem;
  background-color: #ddd;
  .panel-header{
    display: flex;
    margin-bottom:1rem;
    .title{
      font-weight: 600;
      cursor: pointer;
      padding: 0 .25rem;
      &.active{
        color: #f00;
      }
    }
  }
}