@import 'default';

.panel-list{
  border-bottom: 1px solid #ddd;
  padding: 0.5em 0;
  .title{
    font-size: larger;
  }
  .desc{
    color: @text-muted;
  }
}
.panel{
  width: calc(50% - 1em);
  margin: .5em;
  .m-card();
}