@import 'default';

.panel-list{
  border-bottom: 1px solid @border-color;
  padding: 0.5em 0;
  .desc{
    color: @text-muted;
    text-indent: 2em;
  }
}
.panel{
  width: calc(50% - 1em);
  margin: .5em;
  padding: 1em;
  .m-card();
}