
:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.name{
  height: 100%;
  display: flex;
  align-items: center;
}
.value{
  height: 100%;
  display: flex;
  align-items: center;
  .number{
    font-size: 2em;
  }
  .unit{
    opacity: .8;
  }
}
.desc{
  opacity: .8;
  font-size: .9em;
  height: 100%;
  display: flex;
  align-items: center;
}