html, body{
  height: inherit;
}
html{
  scroll-behavior:smooth;
}
body,
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
// body {
//   cursor: url(https://cdn.yuweining.cn/sb/4.cur), default;
// }
// a, button, img, video, audio {
//   cursor: url(https://cdn.yuweining.cn/sb/8.cur), pointer;
// }
img{
  margin-inline-end: .4rem;
  shape-outside: margin-box;
  object-fit: cover;
  filter: blur(0em);
  transition: filter 0.5s;
}
img[data-src] {
  filter: blur(0.2em);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: @primary-color;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}

