// marked 样式
.marked-container img{
  max-width:100%;
  padding-top:3px;
  background-color: @primary-color;
}
.marked-container h1{
  text-align: center;
  border-bottom: 1px solid #f7f9fa;
  padding: 0.5rem;
}
.marked-container pre{
  background-color: #f7f9fa;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

// panel
.user-panel{
  background-color: #f7f9fa;
  padding: 1rem .5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .avatar{
    font-size: 3rem;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }
  .title{
    font-size: 1.1rem;
  }
  .desc{
    color: #999;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .desc-item{
      padding: 0 .5rem;
    }
  }
}
.panel{
  padding: 1rem .5rem;
  .panel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    .title{
      font-size: 1.2rem;
    }
  }
  .panel-list{
    .panel-item{
      height: 2rem;
      padding:0 1rem;
      border-radius: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover .label{
        color: @primary-color;
      }
      &.active{
        background-color: #f9f9f9;
      }
    }
  }
}