@import "default";

// marked 样式
.marked-container .marked-image{
  display: inline-block;
  margin-inline-end: .4em;
  max-width:100%;
  max-height: 600px;
  background-color: @primary-color;
}
.marked-container h1{
  text-align: center;
  border-bottom: 1px solid @border-color;
  padding: 0.5em;
}
.marked-container pre{
  .bg-muted();
  padding: 1em;
  border-radius: @border-radius-base;
}

.marked-container blockquote{
  border-left: 4px solid @primary-color;
  padding: 0.25em 1em;
  background-color: @background-color;
}
.marked-container .anchor-h{
  scroll-margin: 48px;
}
.marked-container .marked-link{
  color: @primary-color;
  text-decoration: underline;
  text-decoration-color: @primary-color;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
}
.marked-container table{
  border: 1px solid @border-color;
  margin-bottom: 1em;
}
.marked-container th, .marked-container td {
  border: 1px solid @border-color;
  padding: 0.5em 1em;
}
.marked-container code:not(.marked-container pre code) {
  background-color: @background-color;
  padding: 0 4px;
  border-radius: @border-radius-base;
  color: #DC3958;
}

// panel
.user-panel{
  background-color: #fff;
  padding: 1em .5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  .m-card();
  .avatar{
    font-size: 3em;
    overflow: hidden;
    border-radius: @border-radius-base;
    margin-bottom: 0.5em;
  }
  .title{
    font-size: larger;
  }
  .desc{
    color: #999;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .desc-item{
      padding: 0 .5em;
    }
  }
}
.panel{
  padding: .5em;
  .panel-header{
    margin-bottom: 0.25em;
    .title{
      font-weight: 400;
      font-size: larger;
    }
  }
  .panel-btn-list{
    .panel-item{
      height: 2em;
      padding:0 .5em;
      border-radius: @border-radius-base;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.active{
        background-color: @background-color;
      }
      &:hover{
        background-color: @background-color;
      }
    }
  }
}