@import "default";
// marked 样式
.marked-container img{
  margin-inline-end: .4rem;
  max-width:100%;
  padding-top:3px;
  background-color: @primary-color;
}
.marked-container h1{
  text-align: center;
  border-bottom: 1px solid @border-color;
  padding: 0.5rem;
}
.marked-container pre{
  .bg-muted();
  padding: 1rem;
  border-radius: @border-radius-base;
}
.marked-container p{
  text-indent: 2rem;
}

.marked-container .anchor{
  display: block;
  height: 46px;
  width: 0;
  margin-top: -46px;
}
.marked-container ul{
  margin-top: 0;
  margin-bottom: 1em;
  li{
    list-style: inherit;
  }
}


// panel
.user-panel{
  background-color: #fff;
  padding: 1rem .5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .m-card();
  .avatar{
    font-size: 3rem;
    overflow: hidden;
    border-radius: @border-radius-base;
    margin-bottom: 0.5rem;
  }
  .title{
    font-size: larger;
  }
  .desc{
    color: #999;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .desc-item{
      padding: 0 .5rem;
    }
  }
}
.panel{
  padding: .5rem;
  .panel-header{
    margin-bottom: 0.25rem;
    .title{
      font-weight: 400;
      font-size: larger;
    }
  }
  .panel-list{
    .panel-item{
      height: 2rem;
      padding:0 1rem;
      border-radius: @border-radius-base;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // &:hover .label{
      //   color: @link-color;
      // }
      &.active{
        background-color: @background-color;
      }
    }
  }
}
.text-btns{
  padding: .5rem 0;
}
.text-btn{
  color: #999;
  cursor: pointer;
  font-size: small;
  &:hover{
    color: @primary-color;
    transition: color .2s;
  }
}
