@primary-color: #007ACC;
@accent-color: #ffcc44;

@background-color: rgba(0,0,0,.03);
@background-color-light: rgba(0,0,0,.01);
@body-bg-color: #fafafa;
@border-color: rgba(0,0,0,.2);
@border-radius-base: 4px;
@text-muted: rgba(0, 0, 0, 0.45);
@text-light: #fff;
@link-color: rgba(0,0,0,.85);
@text-selection-bg: @primary-color;


@menu-horizontal-line-height: 3em;
// @breadcrumb-base-color: @text-light;
@breadcrumb-last-item-color: @text-muted;
// @breadcrumb-separator-color: rgba(210, 210, 210, 0.6);
@table-padding-vertical: 8px;
@table-padding-horizontal: 8px;
@form-item-margin-bottom: 16px;
@font-size-base: 16px;

@shadow-2: 0 0 0 1px rgb(23 23 23 / 5%);

.bg-muted{
  background-color: @background-color-light;
  border: 1px solid @border-color
}
.m-shadow{
  // box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  box-shadow: 0 0 0 1px rgb(23 23 23 / 5%);
  // box-shadow: 0 6px 18px 0 rgb(0 0 0 / 10%);
}
.m-card{
  .m-shadow();
  border-radius: @border-radius-base;
  background-color: #fff;
}
.a-underline{
  text-decoration: underline;
  text-decoration-color: @accent-color;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
}