@primary-color: #007ACC;
@accent-color: #A373CC;

@body-background:#fafafa;
@background-color: rgba(0,0,0,.03);
@border-color: rgba(0,0,0,.1);
@border-radius-base: 4px;
@text-muted: rgba(0, 0, 0, 0.45);
@text-light: #fff;
@link-color: rgba(0,0,0,.85);
@text-selection-bg: @primary-color;


@menu-horizontal-line-height: 3em;
// @breadcrumb-base-color: @text-light;
@breadcrumb-last-item-color: @text-muted;
// @breadcrumb-separator-color: rgba(210, 210, 210, 0.6);
@table-padding-vertical: 8px;
@table-padding-horizontal: 8px;
@form-item-margin-bottom: 16px;
@font-size-base: 16px;

@shadow-2: 0 1px 3px 0 rgb(0 0 0 / 14%);

.bg-muted{
  background-color: hsv(0, 0, 98%);
  border: 1px solid @border-color
}
.m-shadow{
  // box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  // box-shadow: 0 0 0 1px rgb(23 23 23 / 5%);
  // box-shadow: rgba(0,0,0,0.11) 0px 0px 2.9px 0px,rgba(0,0,0,0.13) 0px 1.6px 3.6px 0;
  // box-shadow: 0 6px 18px 0 rgb(0 0 0 / 10%);
  box-shadow: @shadow-2;
}
.m-card{
  .m-shadow();
  border-radius: @border-radius-base;
  background-color: #fff;
}
.a-underline{
  text-decoration: underline;
  text-decoration-color: @primary-color;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
}