@primary-color: #3f51b5;
@accent-color: #ff4081;

@menu-horizontal-line-height: 2.8rem;
@table-padding-vertical: 8px;
@table-padding-horizontal: 8px;
@form-item-margin-bottom: 16px;
@link-color: rgba(0, 0, 0, 0.85);

@background-color: rgba(0,0,0,.01);
@body-bg-color: #fafafa;
@border-color: rgba(0,0,0,.2);


.bg-muted{
  background-color: @background-color;
  border: 1px solid @border-color
}