
<div class="m-container">
  <div class="site-info">
    <a [routerLink]="['/website/about']" rel="nofollow" class="alink">关于</a>&nbsp;|
    <a [routerLink]="['/website/links']" class="alink">友人帐</a>&nbsp;|
    <a (click)="emailto($event)" rel="nofollow" class="alink">邮箱</a>
  </div>
  <div class="site-info">
    <a target="_blank" rel="noopener nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37011202001887" class="alink">
      <img src="../../../../assets/image/common/beian.png" style="vertical-align: middle;"/>
      鲁公网安备37011202001887号
    </a>&nbsp;|
    <a href="https://beian.miit.gov.cn" rel="noopener nofollow" target="_blank" class="alink">鲁ICP备19005783号</a>
  </div>
</div>
