.grid{
  display: flex;
  .column{
    width:50%;
    flex: 1 1 auto;
  }
}
.site-info{
  color:rgba(255,255,255,.85);
}
.alink-light{
  color: rgba(255,255,255,.85);
  &:hover{
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,.85);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
  }
}