<div class="m-container">
  <div class="grid">
    <div class="column">
      <div class="site-info">
        <a [routerLink]="['/website/about']" rel="nofollow">关于本站</a>&nbsp;|
        <a [routerLink]="['/website/contact']" rel="nofollow">捐助与合作</a>&nbsp;|
        <a [routerLink]="['/website/link']">友情链接</a>&nbsp;|
        <a (click)="emailto($event)" rel="nofollow">邮箱</a>
      </div>
      <div class="site-info">
        <a href="https://beian.miit.gov.cn" rel="nofollow" target="_blank">鲁ICP备19005783号</a>
      </div>
    </div>
    <div class="column">
      <div class="site-info">
        cicode.cn<br>
        记录项目代码，分享学习经验。
      </div>
    </div>
  </div>
</div>