:host{
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 58px;
  width: 100px;
  height: 0;
  margin-left: -50px;
  text-align: center;
  .icon{
    display: none;
    transform: translateY(-30px);
    transition: transform 2s;
    font-size: 3em;
    &.active{
      transform: translateY(0);
      display: inline;
    }
  }
}