@import 'default';

// :host{
//   position: fixed;
//   z-index: 10;
//   left: 50%;
//   top: 58px;
//   width: 120px;
//   height: 0;
//   margin-left: -60px;
//   text-align: center;
// }
.loading-model{
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 1000;
  background-color: rgba(255,255,255,.8.5);
  backdrop-filter: saturate(180%) blur(20px);
  pointer-events: all;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-3 {
  width:120px;
  height:20px;
  border-radius: 20px;
  background:
   repeating-linear-gradient(135deg,#f03355 0 10px,#ffa516 0 20px) 0/0% no-repeat,
   repeating-linear-gradient(135deg,#ddd 0 10px,#eee 0 20px) 0/100%;
  animation:p3 2s infinite;
  .m-shadow();
}
@keyframes p3 {
  100% {background-size:100%}
}