@import "default";
.info-panel{
  border-bottom: 1px solid @border-color;
  margin-bottom: 2em;
}

.process-title{
  scroll-margin: @menu-horizontal-line-height;
}

.grid{
  display: grid;
  grid-template-columns: 20em auto;
  gap: 1em;
}
.line{
  border-bottom: 1px solid @border-color;
  margin: 1em 0;
}