<div class="m-container page-top">
  <div class="card">
    <div class="info-panel">
      <h1>nodejs应用 AI在线工具</h1>
      <p>百度AI自然语言处理，AI工具</p>
      <p>部分功能收费，请登录账号，购买金币，按次数收费</p>
    </div>
    <div class="grid">
      <div class="column-lf">
        <div class="sticky sidebar">
          <app-menu-tree [data]="categoryTree" (ckEvent)="selectNav($event)" children="children"></app-menu-tree>
        </div>
      </div>
      <div class="column-rt">
        <div class="process-item" [formGroup]="validateForm">
          <h2 class="process-title" #title>{{selOptionItem.title}}</h2>
          <div class="form-item mb-3" *ngFor="let formItem of selOptionItem.formData" [ngSwitch]="formItem.type">
            <label>{{formItem.label}}</label>
            <textarea *ngSwitchCase="'textarea'" nz-input [formControlName]="formItem.code" [nzAutosize]="{ minRows: 5 }"></textarea>
            <nz-input-number *ngSwitchCase="'number'" [nzStep]="10" [formControlName]="formItem.code"></nz-input-number>
            <nz-select
              *ngSwitchCase="'select'"
              [formControlName]="formItem.code"
              [nzMode]="'default'"
              nzAllowClear
              nzShowSearch>
              <nz-option *ngFor="let opt of formItem.option" [nzValue]="opt.value" [nzLabel]="opt.name">
              </nz-option>
            </nz-select>
            <input *ngSwitchDefault nz-input [formControlName]="formItem.code">
          </div>
          <button nz-button nzBlock nzType="primary" (click)="run()" class="mb-1">执行</button>
        </div>
        <h3 class="mt-3">输出</h3>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="resultValue"></textarea>
        <div class="mt-3 mb-3">
          <button nz-button nzType="primary" (click)="copy(resultValue)" class="mt-1 mr-1">复制</button>
          <button nz-button nzType="default" (click)="clear()" class="mt-1 mr-1">清空</button>
        </div>
      </div>
    </div>
    
    <!-- <div nz-row [nzGutter]="16">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
        <h3>输入</h3>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="inputValue"></textarea>
        <h3>输出</h3>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="resultValue"></textarea>
        <div class="mt-3 mb-3">
          <button nz-button nzType="primary" (click)="copy(resultValue)" class="mt-1 mr-1">复制</button>
          <button nz-button nzType="default" (click)="clear()" class="mt-1 mr-1">清空</button>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
        <div class="mt-3 mb-3">
          <h2>favicon在线下载</h2>
          <p>输入网址，获取网址中的favicon图片</p>
          <button nz-button nzType="default" (click)="downloadFavicon(inputValue)" class="mt-1 mr-1">下载</button>
        </div>
        <div class="mt-3 mb-3">
          <h2>文章概要</h2>
          <p>输入内容，获取文章概要</p>
          <button nz-button nzType="default" (click)="getSummary(inputValue)" class="mt-1 mr-1">获取</button>
        </div>
      </div>
    </div> -->
  </div>
</div>