@import "default";
.info-panel{
  margin-bottom: 2em;
	padding:2em;
  background-color: @background-color;
  border-radius: @border-radius-base;
}

.process-title{
  scroll-margin: @menu-horizontal-line-height;
}

.grid{
  display: grid;
  grid-template-columns: 20em auto;
  gap: 1em;
}
.line{
  border-bottom: 1px solid @border-color;
  margin: 1em 0;
}
.column-rt{
  .m-card();
  padding:2em;
}