<div class="m-container page-top">

    <div class="info-panel">
      <h1>nodejs应用 AI在线工具</h1>
      <p>百度AI自然语言处理，AI工具</p>
      <p>部分功能收费，请登录账号，购买金币，按次数收费</p>
    </div>
    <div class="grid">
      <div class="column-lf">
        <div class="sticky">
          <app-menu-tree [data]="categoryTree" (ckEvent)="selectNav($event)" children="children"></app-menu-tree>
        </div>
      </div>
      <div class="column-rt">
        <h2 class="process-title" #title>{{selOptionItem.title}}</h2>
        <app-form-group [params]='selOptionItem.formData' (submitEmit)="run($event, selOptionItem)" #formGroup [span]="1">
          <div class="bottom-content">
            <ul role='list' class="file-list">
              <li class="file-item" *ngFor="let item of formGroup.validateForm?.controls['fileData']?.value??[]; let i = index; trackBy: trackByItem">
                <div class="file-header">
                  <span class="title">{{item.name}}</span>
                  <button nz-button nzType="default" type="button" (click)="delItem(i, formGroup.validateForm)" class="mt-1 mr-1">删除</button>
                </div>
                <div class="file-content">
                  <img [src]="item|fn:getSafeUrl" class="file-img" [alt]="item.name" [id]="item.name">
                  <div class="res-info">
                    <textarea class="inputArea" rows="12" nz-input [value]="this.fileRetData?.[item.name|fn:replaceSpecialChar]??''"></textarea>
                  </div>
                </div>
              </li>
            </ul>
            <button nz-button nzType="primary" type="submit" class="mr-1" >执行</button>
            <button nz-button nzType="default" type="button" (click)="copy(resultValue)" class="mt-1 mr-1">复制</button>
            <button nz-button nzType="default" type="button" (click)="clear(formGroup, selOptionItem.formData)" class="mt-1 mr-1">重置</button>
          </div>
        </app-form-group>
        
        <div class="line"></div>
        <h3>输出</h3>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="resultValue"></textarea>
      </div>
    </div>

</div>