<div class="m-container page-top">
  <div class="card">
    <div class="info-panel">
      <h1>nodejs应用</h1>
      <p>接通百度AI自然语言处理，方便办公，部分功能收费</p>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
        <h3>输入</h3>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="inputValue"></textarea>
        <h3>输出</h3>
        <textarea class="inputArea" rows="8" nz-input [(ngModel)]="resultValue"></textarea>
        <div class="mt-3 mb-3">
          <button nz-button nzType="primary" (click)="copy(resultValue)" class="mt-1 mr-1">复制</button>
          <button nz-button nzType="default" (click)="clear()" class="mt-1 mr-1">清空</button>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
        <div class="mt-3 mb-3">
          <h2>favicon在线下载</h2>
          <p>输入网址，获取网址中的favicon图片</p>
          <button nz-button nzType="default" (click)="downloadFavicon(inputValue)" class="mt-1 mr-1">下载</button>
        </div>
        <div class="mt-3 mb-3">
          <h2>文章概要</h2>
          <p>输入内容，获取文章概要</p>
          <button nz-button nzType="default" (click)="getSummary(inputValue)" class="mt-1 mr-1">获取</button>
        </div>
      </div>
    </div>
  </div>
</div>