@import "default";
.card{
  .m-card();
  padding:1em;
}
.info-panel{
  border-bottom: 1px dashed @border-color;
  margin-bottom: 2em;
}

.process-title{
  scroll-margin: @menu-horizontal-line-height;
  &::before{
    .content();
    vertical-align: middle;
  }
}

.grid{
  display: grid;
  grid-template-columns: 20em auto;
  gap: 1em;
}
.line{
  border-bottom: 1px dashed @border-color;
  margin: 1em 0;
}