<div class="btn-list-container">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: {menus:data, index:0} }">
  </ng-container>
  <ng-template #menuTpl let-params>
    <ng-container  *ngFor="let item of params.menus; trackBy:trackByTree">
      <div class="btn-item" *ngIf="item">
        <div class="btn-title" [style]="{paddingLeft: params.index*12 + 'px'}" [ngSwitch]="item.type" [class.active]="curTitle && item.title===curTitle">
          <a
            *ngSwitchCase="'router'"
            [routerLink]="[item.route]" class="a-link">
            <ng-container *ngTemplateOutlet="itemTitle; context: { $implicit: item }"></ng-container>
          </a>
          <a *ngSwitchCase="'link'" [href]="item.link" class="a-link">
            <ng-container *ngTemplateOutlet="itemTitle; context: { $implicit: item }"></ng-container>
          </a>
          <a *ngSwitchDefault (click)="menuClick(item)" class="a-link">
            <ng-container *ngTemplateOutlet="itemTitle; context: { $implicit: item }"></ng-container>
          </a>
        </div>
        <div class="btn-list" [class.active]="item.selected">
          <div class="line"  [style]="{left: params.index*12 + 'px'}"></div>
          <ng-container *ngTemplateOutlet="menuTpl; context: {
              $implicit: {
                menus: children&&item[children]||item.children,
                index: params.index+1
              }}">
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>

<ng-template  #itemTitle let-item>
  <span class="upImg" *ngIf="children && item[children]" (click)="openToggle($event,item)">
    <i nz-icon nzType="caret-right" nzTheme="outline" [style.transform]="'rotate('+ (item.selected?45:0) +'deg)'"></i>
  </span>
  <span [ngStyle]="{marginLeft: !children||!item[children]?'1.8em':0}">
    <i nz-icon [nzType]="item.icon" nzTheme="outline" class="icon mr-2" *ngIf="item.icon"></i>
    {{item.title}} 
  </span>
</ng-template>