@import "default";
.btn-title{
  word-break: keep-all;
  line-height: 28px;
  padding: 0 0.5em;
}
.btn-list{
  padding-left: 15px;
  overflow: hidden;
  height: 0;
  &.active{
    height: auto;
  }
}
.upImg{
  cursor: pointer;
  font-size: larger;
  color: @text-muted;
  margin-right: 0.25em;
  display: inline-block;
  line-height: 1.2em;
  width: 1.2em;
  height: 1.2em;
  &:hover{
    background-color: #ddd;
  }
}
.icon-type{
  color: @text-muted;
  font-size: larger;
  margin-right: 0.25em;
}
.icon{
  font-size: larger;
}
.a-link{
  color: rgba(0,0,0,.85);
  display: block;
  &:hover{
    background-color: rgba(0,0,0,.04);
  }
}