@import "default";
.btn-title{
  word-break: keep-all;
  line-height: 28px;
  display: flex;
  align-items: center;
  .title{
    cursor: pointer;
    // &:hover{
    //   color: @link-color;
    // }
  }
}
.btn-list .btn-list{
  padding-left: 15px;
}
.upImg{
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  font-weight: 400;
  color: @text-muted;
  // &:hover{
  //   color: @link-color;
  // }
}
.icon{
  font-size: 1rem;
}