@import "default";
.btn-title{
  word-break: break-all;
  line-height: 28px;
  padding: 0 0.5em;
}
.btn-list{
  padding-left: 15px;
  overflow: hidden;
  height: 0;
  position: relative;
  &.active{
    height: auto;
  }
  &::before{
    content:"";
    width:0;
    height:100%;
    border-right: 1px solid rgba(0,0,0,.04);
    position: absolute;
    top:0;
    left:16px;
  }
}
.upImg{
  cursor: pointer;
  font-size: larger;
  color: @text-muted;
  margin-right: 0.25em;
  display: inline-block;
  line-height: 1.2em;
  width: 1.2em;
  height: 1.2em;
  flex: 0 0 auto;
  border-radius: @border-radius-base;
  &:hover{
    background-color: #ddd;
  }
}
.icon-type{
  color: @text-muted;
  font-size: larger;
  margin-right: 0.25em;
}
.icon{
  font-size: larger;
}
.a-link{
  color: rgba(0,0,0,.85);
  display: flex;
  align-items: center;
  border-radius: @border-radius-base;
  &:hover{
    background-color: rgba(0,0,0,.04);
  }
}