.row{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.5em;
  .rt{
    width: 3em;
    flex: 0 0 auto;
  }
  .lf{
    flex: 1 1 auto;
    .name{
      font-size: 1.2em;
    }
    .desc{
      opacity: .8;
    }
  }
}