@import 'default';

.card-avatar{
  font-size: larger;
  margin-right: .25em;
  border-radius: @border-radius-base;
  overflow: hidden;
}
// .tag-item{
//   background-color: @background-color;
//   padding: 0 0.25em;
//   margin-right: .5em;
// }
.alink{
  color: rgba(0,0,0,.85);
}
.subtitle .alink{
  color: #0000008a;
}

.cursor{
  cursor: pointer;
}
.panel-list{
  border-bottom: 1px solid #ddd;
  padding: 0.5em 0;
}