@import 'default';

.cursor{
  cursor: pointer;
}
.panel-list{
  border-bottom: 1px solid @border-color;
  padding: 0.5em 0;
}
.menu-bar{
  .m-card();
  padding: .25em .5em;
  display: flex;
  .btn{
    border-radius: @border-radius-base;
    padding: 0.25em 0.5em;
    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
    &.active{
      background-color: @background-color;
    }
    &:hover{
      background-color: @background-color;
    }
  }
}
.block-panel{
  height: 300px;
  border: 1px solid @border-color;
  border-radius: @border-radius-base;
  overflow: hidden;
  .img{
    width:100%;
    height: 100%;
  }
}