<div class="m-container page-top">
  <div #artAnchor class="anchor"></div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="24" nzMd="3">
      <div class="sticky">
        <button nz-button nzBlock nzType="dashed" (click)="clearSel()" class="mb-1" title="清空选择条件，选择近期的文章">近期文章</button>
        <app-menu-tree (ckEvent)="selectTag($event)" [data]="tagColunm" children="tagList"></app-menu-tree>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="15">
      <div class="cards">
        <app-card  [data]="item" *ngFor="let item of listPageData?.list" style="margin-bottom: 2em;"></app-card>

        <nz-pagination [(nzPageIndex)]="listPageData.pageIndex" [nzTotal]="listPageData.total" [nzSize]="'small'"
          [nzShowTotal]="totalTemplate" (nzPageIndexChange)="load($event, true)"></nz-pagination>
        <ng-template #totalTemplate let-total>共 {{ listPageData.total }} 条</ng-template>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="6">
      <div class="sticky">
        <div class="panel">
          <div class="panel-header">
            <span class="title">推荐</span>
          </div>
          <ul role='list'>
            <li *ngFor="let item of recommend$|async; let index =index" class="panel-list">
              <div class="title">
                <a [routerLink]="[item.link]" class="alink" [title]="item.title">
                  <span class="mark">✓</span>
                  {{item.title}}
                </a>
              </div>
              <div class="desc">{{item.descItem}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
