@import 'default';

.card-avatar{
  font-size: larger;
  margin-right: .25em;
  border-radius: @border-radius-base;
  overflow: hidden;
}

.subtitle .alink{
  color: #0000008a;
}

.cursor{
  cursor: pointer;
}
.panel-list{
  border-bottom: 1px solid @border-color;
  padding: 0.5em 0;
}
.menu-bar{
  .m-card();
  padding: .25em .5em;
  display: flex;
  .btn{
    border-radius: @border-radius-base;
    padding: 0.25em 0.5em;
    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
    &.active{
      background-color: @background-color;
    }
    &:hover{
      background-color: @background-color;
    }
  }
}