<div class="view-btn-group">
  <span class="dy-info">{{viewInfo.scale}}</span>
  <button nz-button type="button" nzType="default" nzSize="small" (click)="scale(.1)">放大</button>
  <button nz-button type="button" nzType="default" nzSize="small" (click)="scale(-.1)">缩小</button>

  <button nz-button type="button" nzType="default" nzSize="small" (click)="saveLocalStorage()">暂存</button>
  <button nz-button type="button" nzType="default" nzSize="small" (click)="getLastLocalData()">获取上次保存</button>
  <button nz-button type="button" nzType="default" nzSize="small" (click)="preview()">全部显示</button>
  <button nz-button type="button" nzType="default" nzSize="small" (click)="clearViews()">清空</button>
  <button nz-button type="button" nzType="default" nzSize="small" (click)="exportViews()">导出配置</button>

  <button nz-button type="button" nzType="default" nzSize="small" (click)="1">画布设置</button>
  <button nz-button type="button" nzType="default" nzSize="small" (click)="updateData()">测试</button>
</div>
<div style="display: flex;position: relative;height: calc(100vh - 40px);">
  <div class="sidebar">
    <ul role='list'>
      <li *ngFor="let item of compLibData" class="flex">
        {{item.title}}
        <span class="fill-space"></span>
        <button nz-button nzType="text" nzSize="small" (click)="showAddCompDialog(item)">添加</button>
        <!-- <span class="text-btn" (click)="showAddCompDialog(item)">添加</span> -->
      </li>
    </ul>
  </div>
  <div class="middle-container">
    <!-- 提供空白区域-放大缩小时防止溢出 -->
    <div class="view-container">
      <!-- 动态创建组件的主体 -->
      <div #viewContainer class="view-main" [style.width.px]="viewInfo.width" [style.height.px]="viewInfo.height"
        [style.transform]="'scale('+viewInfo.scale+')'">
        <!-- 六条基准线 -->
        <app-mark-line></app-mark-line>
        <!-- 背景 -->
        <svg class="grid" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <pattern id="smallGrid" width="7.236328125" height="7.236328125" patternUnits="userSpaceOnUse">
              <path d="M 7.236328125 0 L 0 0 0 7.236328125" fill="none" stroke="rgba(207, 207, 207, 0.3)"
                stroke-width="1">
              </path>
            </pattern>
            <pattern id="grid" width="36.181640625" height="36.181640625" patternUnits="userSpaceOnUse">
              <rect width="36.181640625" height="36.181640625" fill="url(#smallGrid)"></rect>
              <path d="M 36.181640625 0 L 0 0 0 36.181640625" fill="none" stroke="rgba(186, 186, 186, 0.5)"
                stroke-width="1">
              </path>
            </pattern>
          </defs>
          <rect width="100%" height="100%" fill="url(#grid)"></rect>
        </svg>
      </div>
    </div>
  </div>
  <div class="opt-container">
    <div class="item">
      <strong>🔹视图组件：</strong>
      <span *ngFor="let item of selectedCompTreeData">{{item?.title}}</span>
    </div>
    <div class="item">
      <strong>🔹组件树</strong>
      <app-nodes-tree [data]="[compTreeData]" children="children" (ckEvent)="setActiveComp($event)"
        [menuDown]="menuDown" (optCkEvent)="optCk($event)"></app-nodes-tree>
    </div>
    <div class="item">
      <strong>🔹属性：</strong>
      <div>{{activeCompData?.title}}({{contentIndex}})</div>
      <div>
        <span>x:{{activeCompData?.styles.left}}</span>
        <span>y:{{activeCompData?.styles.top}}</span>
        <span>rotate:{{activeCompData?.styles.rotate}}</span>
      </div>
      <div>
        <span>宽:{{activeCompData?.styles.width}}</span>
        <span>高:{{activeCompData?.styles.height}}</span>
        <span>zIndex:{{activeCompData?.styles.zIndex}}</span>
      </div>
    </div>
    <div class="item">
      <strong>🔹组件数据</strong>
      <h4>input</h4>
      <div>
        {{activeCompData?.inputs|json}}
      </div>
      <h4>output</h4>
      <div>
        {{activeCompData?.outputs|json}}
      </div>
      <h4>event</h4>
      <div>
        {{activeCompData?.events|json}}
      </div>
    </div>
  </div>
</div>