<div style="display: flex;position: relative;" class="page-top">
  <div class="sidebar">
    <ul>
      <li *ngFor="let item of compLibData" class="flex">
        {{item.title}}
        <span class="fill-space"></span>
        <span class="text-btn" (click)="showAddCompDialog(item)">添加</span>
      </li>
    </ul>
  </div>
  <div class="view-container">
    <div #viewContainer class="view-main"
      [style.width.px]="viewInfo.width"
      [style.height.px]="viewInfo.height"
      [style.transform]="'scale('+viewInfo.scale+')'"
    ></div>
  </div>
  <div class="opt-container">
    <div class="btn-group">
      <span>{{viewInfo.scale}}</span>
    <button nz-button type="button" nzType="text" (click)="scale(.1)">放大</button>
    <button nz-button type="button" nzType="text" (click)="scale(-.1)">缩小</button><br>
      <button nz-button type="button" nzType="text" (click)="preview()">全部显示</button>
      <button nz-button type="button" nzType="text" (click)="clearViews()">清空</button>
      <button nz-button type="button" nzType="text" (click)="exportViews()">导出配置</button>
      
    </div>
    <div class="item">
      <strong>🔹视图组件：</strong>
      <span *ngFor="let item of selectedCompTreeData">{{item?.title}}</span>
    </div>
    <div class="item">
      <strong>🔹激活组件：</strong>
      <span>{{activeCompData?.title}}({{contentIndex}})</span>
    </div>
    <div class="item">
      <strong>🔹组件树</strong>
      <app-nodes-tree [data]="[compTreeData]" children="children" (ckEvent)="setActiveComp($event)"></app-nodes-tree>
    </div>
    <div class="item">
      <strong>🔹组件数据</strong>
      <h4>input</h4>
      <div>
        {{activeCompData?.inputs|json}}
      </div>
      <h4>output</h4>
      <div>
        {{activeCompData?.outputs|json}}
      </div>
      <h4>event</h4>
      <div>
        {{activeCompData?.events|json}}
      </div>
    </div>
  </div>
</div>