@import 'default';
:host{
  font-size: 14px;
}
.middle-container{
  flex: 1 1 auto;
  overflow: auto;
  height: 100vh;
  .view-container{
    border:1px solid #ddd;
    overflow: auto;
    padding: 10em 16em;
    .view-main{
      position: relative;
    }
  }
  .view-btn-group{
    border: 1px solid #ddd;
  }
}

.sidebar{
  width: 180px;
  flex: 0 0 auto;
  border: 1px solid #ddd;
  padding: 0.5em;
}
.opt-container{
  width: 280px;
  flex: 0 0 auto;
  padding: .5em;
  border: 1px solid #ddd;
}
.dy-info{
  border-radius: 0.5em;
  width: 32px;
  text-align: center;
  display: inline-block;
  background-color: #eee;
}
.grid{
  position: absolute;
}