@import 'default';

.view-container{
  width:1000px;
  height:500px;
  border:1px solid #ddd;
  overflow: auto;
  padding: 10rem 16rem;
  .view-main{
    border: 2px solid #ddd;
    position: relative;
  }
}
.sidebar{
  width: 180px;
  border: 1px solid #ddd;
  padding: 1rem 0.5rem;
  .sidebar-item{
    display: flex;
  }
}
.opt-container{
  width: 200px;
}
.dy-info{
  background-color: #ddd;
  padding: 0 .5rem;
  border-radius: .5rem;
}