@import (reference) "default";
:host{
  font-size: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.middle-container{
  flex: 1 1 auto;
  overflow: auto;
  .view-container{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 10em 16em;
    .view-main{
      position: relative;
      background-color: #f0f0f0;
    }
  }
}
.view-btn-group{
  height: 30px;
  border-bottom: 1px solid @border-color;
  padding: 0 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.sidebar{
  width: 180px;
  flex: 0 0 auto;
  border-right: 1px solid @border-color;
  padding: 0.5em;
  overflow-y: auto;
}
.opt-container{
  width: 300px;
  padding: .5em;
  flex: 0 0 auto;
  border-left: 1px solid @border-color;
  overflow-x: hidden;
  overflow-y: auto;
}
.dy-info{
  width: 32px;
  text-align: center;
  display: inline-block;
  background-color: #eee;
}
.grid{
  position: absolute;
}
.panel-body{
  padding: .5em;
}

.attr-cell{
  width: 33.33%;
  padding: 0.125em 0;
  .label{
    display: inline-block;
    width: 40px;
    text-align: right;
  }
  .value{
    padding: 0 0.25em;
    background: @background-color;
    border-radius: 8px;
  }
}
.border-block{
  // border: 1px solid @border-color;
  // background-color: @background-color;
  // padding: .5em;
  // border-radius: @border-radius-base;
}