:host {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  .slides {
    width: 100%;
    height: 100%;
    display: flex;
    // overflow-x: auto;
    // flex-direction: column;
    // scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    // scroll-snap-points-x: repeat(300px);
    // scroll-snap-type: mandatory;
    .slide-item {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      // margin-right: 16px;
      border-radius: 10px;
      background: #eee;
    }
  }
  .slide-nav{
    position: absolute;
    right: 1em;
    top: 1em;
    .btn{
      width: 2em;
      height: 2em;
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
      border: 0;
      margin-left: 0.25em;
      color: rgba(255,255,255,.7);
      border-radius: .25em;
    }
  }
}