@import "default";
.info-panel{
  margin-bottom: 2em;
	padding:2em;
  background-color: @background-color;
  border-radius: @border-radius-base;
}
.process-item{
	border: 1px solid @border-color;
	border-radius: @border-radius-base;
	padding: 1em;
	.desc-contant{
		background-color: @background-color;
		padding: .5em;
	}
}
.card-container{
  .m-card();
  padding: 2em;
}