@import "default";

.info-panel{
	.m-card();
	padding:1em;
	margin-bottom: 1em;
}
.process-item{
	// border: 1px solid @border-color;
	// border-radius: @border-radius-base;
	.m-card();
	padding: 1em;
}