@import "default";
.card{
  .m-card();
  padding:1em;
}
.info-panel{
	border-bottom: 1px dashed @border-color;
  margin-bottom: 2em;
}
.process-item{
	border: 1px solid @border-color;
	border-radius: @border-radius-base;
	padding: 1em;
	.desc-contant{
		background-color: @background-color;
		padding: .5em;
	}
}