<div class="m-container page-top">
  <div class="login-panel">
    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <nz-form-item>
        <nz-form-label>用户名</nz-form-label>
        <nz-form-control nzErrorTip="必填项">
          <input nz-input type="text" formControlName="username"  placeholder="请输入" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>密码</nz-form-label>
        <nz-form-control nzErrorTip="必填项">
          <input nz-input type="password" formControlName="password"  placeholder="请输入" />
        </nz-form-control>
      </nz-form-item>
      <div class="flex mt-3">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <span class="fill-space"></span>
        <a [routerLink]="['/user/register']" style="float:right">注册</a>
     
      </div>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">提交</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
