<div class="m-container">
  <div style="width:300px;padding:10px;" class="m-shadow">
    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <nz-form-item>
        <nz-form-label>用户名</nz-form-label>
        <nz-form-control nzErrorTip="必填项">
          <input nz-input type="text" formControlName="username" placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>密码</nz-form-label>
        <nz-form-control nzErrorTip="必填项">
          <input nz-input type="password" formControlName="password" placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a [routerLink]="['/user/register']">注册</a>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">提交</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
