@import '../../../styles/default.less';

.art-container{
  flex: 1 1 auto;
}
.art-popular{
  width:300px;
  flex: 0 0 auto;
}
.desc{
  padding: 1rem;
  margin: 1rem 0;
  background-color: @primary-color;
  border-radius: .25rem;
  line-height: 1.5rem;
}
.desc-item{
  margin-right:1rem;
}
// banner内容
// .banner-inner{
//   color:#fff;
//   text-align: center;
//   .banner-title{
//     font-size: 2.5rem;
//   }
//   .banner-desc{
//     font-size: 1rem;
//     line-height: 1.2rem;
//   }
// }