
<!-- <div style="height:180px;">
  <app-banner [bannerUrl]="bannerUrl">
    <div class="banner-inner">
      <div class="banner-title">{{article?.title}}</div>
      <div class="banner-desc">
        {{article?.author?.username}}
        .
        <nz-tag *ngFor="let item of article?.tagList">{{item.name}}</nz-tag>
      </div>
    </div>
  </app-banner>
</div> -->

<div class="m-container flex">
    <div class="art-container mr-3">
      <div class="desc">
        <span class="mr-3">作者：{{article?.author?.username}}</span>
        <span>标签：
          <ng-container *ngFor="let item of article?.tagList;let index=index">
            {{item.name}}
            <ng-container *ngIf="article?.tagList.length !== index+1">、</ng-container>
          </ng-container>
        </span>
      </div>
      <div class="marked-container" [innerHTML]="article?.content | marked"></div>
      <div class="comment">
        <app-comment
          [data]="commentList"
          [(submitting)]="submitting"
          (commentEvent)="commentEvent($event)"
          (replyEvent)="replyEvent($event)"></app-comment>
      </div>
    </div>
    <div class="art-popular">
      <div class="sticky" *ngIf="catalogue&&catalogue.length>0">
        <h3>目录</h3>
        <div class="bg-muted">
          <app-menu-tree [data]="catalogue"></app-menu-tree>
        </div>
      </div>
    </div>
</div>