@import 'default';

.desc{
  padding: 1em;
  margin: 1em 0;
  border-radius: @border-radius-base;
  line-height: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  .desc-item{
    margin-right:1em;
  }
}
img[label]{
  filter: blur(0.2em);
}