@import 'default';

.desc{
  padding: 1em;
  margin: 1em 0;
  border-radius: @border-radius-base;
  line-height: 1.5em;
  border: 1px solid @border-color;
  .desc-item{
    margin-right:1em;
  }
}
.marked-image{
  filter: blur(0.2em);
}
// img[label]{
//   filter: blur(0.2em);
// }