@import "default";
.btn-title{
  word-break: keep-all;
  line-height: 28px;
  display: flex;
  align-items: center;
  .title{
    cursor: pointer;
    // &:hover{
    //   color: @link-color;
    // }
  }
}
.btn-list .btn-list{
  padding-left: 15px;
}
.upImg{
  cursor: pointer;
  width: 1em;
  height: 1em;
  font-weight: 400;
  color: @text-muted;
  // &:hover{
  //   color: @link-color;
  // }
}
.content-bar{
  .content-item{
    background-color:#eee;
    border-radius: @border-radius-base;
    display: inline-block;
    padding:0 4px;
    cursor: pointer;
    margin-right: 0.25em;
  }
}
.menu-down{
  position: relative;
  .down-container{
    position: absolute;
    top:100%;
    display: none;
    background-color: #fff;
    z-index: 10;
    .down-item{
      padding: 0 1em;
      cursor: pointer;
    }
  }
  &:hover .down-container{
    display: block;
  }
}