<div class="btn-list">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: {menus:data} }">
  </ng-container>
  <ng-template #menuTpl let-params>
    <div *ngFor="let v1 of params.menus">
      <div class="btn-item" *ngFor="let item of v1">
        <div class="btn-title">
          <div (click)="menuClick(item)" class="title">
            <span>{{item.desc}}</span>-
            <span>{{item.title}}</span>
          </div>
          <span style="flex: 1 1 auto"></span>
          <div class="menu-down">
            <span>更多</span>
            <div class="down-container">
              <div class="down-item" *ngFor="let cell of menuDown" (click)="optClick(cell.code, item)">{{cell.title}}</div>
            </div>
          </div>
          <i nz-icon nzType="right" nzTheme="outline" *ngIf="item.type == 'sub' || children && item[children] && item[children].length>0"
            (click)="openToggle(item)" [style.transform]="'rotate('+ (item.selected?0:90) +'deg)'"
            class="upImg"></i>
        </div>
        <div class="content-bar">
          <span class="content-item" *ngFor="let a of item?.inputs?.ngcontents; let i = index" (click)="selContents(item, i)">
            {{a}}
          </span>
        </div>
        <!-- <div class="btn-list" [style.height]="item.selected?'0':'auto'" style="overflow:hidden"> -->
        <div class="btn-list" *ngIf="!item.selected">
          <ng-container *ngTemplateOutlet="menuTpl; context: {
              $implicit: {
                menus: children&&item[children]||item.children
              }}">
          </ng-container>
        </div>
      </div>
    </div>
  </ng-template>
</div>