<div class="m-container">
  <h3>一、捐助支持</h3>
  <p>
    如果本站帮助过您，您可以自愿选择赞助，支持本站的不断发展。
  </p>
  <div class="flex">
    <div>
      <span class="title">支付宝</span><br>
      <img src="/assets/image/qrcode/zfb.jpg" style="width:150px;margin-right:5rem;border: 0.2rem solid #fff;">
    </div>
    <div>
      <span class="title">微信</span><br>
      <img src="/assets/image/qrcode/wx.jpg" style="width:150px;border: 0.2rem solid #fff;">
    </div>
  </div>
  <h3>二、合作</h3>
  <p>
    邮箱：980479803@qq.com<br>
    qq：980479803
  </p>
</div>