<div class="m-container">
  <h3>1、捐助支持</h3>
  <p>
    如果本站对你有很大帮助，您可以自愿选择赞助，支持本站的不断发展。
  </p>
  <div class="flex">
    <div>
      <span class="title">支付宝</span><br>
      <img src="/assets/image/qrcode/zfb.jpg" style="width:140px;margin-right:5rem;border: 0.2rem solid #fff;">
    </div>
    <div>
      <span class="title">微信</span><br>
      <img src="/assets/image/qrcode/wx.jpg" style="width:140px;border: 0.2rem solid #fff;">
    </div>
  </div>
  <h3>2、合作</h3>
  <p>
    <!-- <a href="mailto:980479803@qq.com?subject=cicode">邮箱</a><br> -->
    请大神发送邮箱
  </p>
</div>