.file-list{
  .file-item{
    display: flex;
    padding: .25rem;
    .file-img{
      width: 60px;
      height: 60px;
    }
    .file-info{
      flex: 1 1 auto;
      .file-name{
        font-size:1.1rem;
        
      }
    }
  }
}
.tools{
  display: flex;
  align-items: center;
}