<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon nzType="environment"></i>
  </nz-breadcrumb-item>

  <ng-container *ngFor="let breadcrumbItem of breadcrumbMenus">
    <nz-breadcrumb-item [nzOverlay]="downMenu" *ngIf="breadcrumbItem?.children?.length>0 else tem">
      {{breadcrumbItem.title}}

      <nz-dropdown-menu #downMenu>
        <ul nz-menu>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: {menus:breadcrumbItem.children} }"></ng-container>
          <ng-template #menuTpl let-params>
            <ng-container *ngFor="let subBreadcrumb of params.menus">
              <li nz-submenu *ngIf="subBreadcrumb.type == 'sub'" [nzTitle]="subBreadcrumb.title">
                <ul nz-menu>
                  <ng-container *ngTemplateOutlet="menuTpl; context: {
                    $implicit: {
                      menus:subBreadcrumb.children,
                      level: params.level+1
                    }}"></ng-container>
                </ul>
              </li>
              <li  *ngIf="subBreadcrumb.type == 'router'&&subBreadcrumb.isBreadcrumbShow!==false" nz-menu-item [routerLink]="[subBreadcrumb.route]">
                {{subBreadcrumb.title}}
              </li>
              <li  *ngIf="subBreadcrumb.type == 'link'" nz-menu-item (click)="open(subBreadcrumb.link)">
                {{subBreadcrumb.title}}
              </li>
            </ng-container>

          </ng-template>
        </ul>
      </nz-dropdown-menu>
    </nz-breadcrumb-item>
    <ng-template #tem>
      <nz-breadcrumb-item>
        {{breadcrumbItem.title}}
      </nz-breadcrumb-item>
    </ng-template>
  </ng-container>
</nz-breadcrumb>