@import "default";

.nav-link{
  padding: 0.25rem .5rem;
  display: flex;
  align-items: center;
  width: 50%;
  .opacity0{
    opacity: 0;
    flex: 0 0 auto;
  }
  &:hover .opacity0{
    opacity: 1;
    transition: opacity 1.5s;
  }
}
.cursor{
  cursor: pointer;
}
.nav-panel{
  margin-bottom:1rem;
  margin-top: -46px;
  .panel-header{
    margin-bottom: .5rem;
    padding-top: 46px;
    .title{
      font-size: larger;
      font-weight: 400;
      .opacity0{
        opacity: 0;
      }
      &:hover .opacity0{
        opacity: 1;
      }
    }
  }
  .panel-body{
    .m-card();
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ico-img{
  height: .9rem;
  width: .9rem;
  border-radius: 20%;
  margin-right: .4rem;
}
.text-btns{
  position: relative;
}