@import "default";

.sidebar{
  .bg-muted();
}
.nav-link{
  padding: 0.25em .5em;
  display: flex;
  align-items: center;
  width: 50%;
  .opacity0{
    opacity: 0;
    flex: 0 0 auto;
  }
  &:hover .opacity0{
    opacity: 1;
    transition: opacity 2s;
  }
  &::before{
    content:'';
    display: inline-block;
    width: .5em;
    height: .5em;
    margin-right: .5em;
    border-radius: 50%;
    background-color: @primary-color;
    flex: 0 0 auto;
  }
}
.cursor{
  cursor: pointer;
}
.nav-panel{
  margin-bottom:1em;
  .m-card();
  .panel-header{
    padding: .5em 0;
    scroll-margin: @menu-horizontal-line-height;
    .title{
      font-size: 1.2em;
      display: flex;
      align-items: center;
      .opacity0{
        opacity: 0;
      }
      &:hover .opacity0{
        opacity: 1;
        transition: opacity 2s;
      }
      &::before{
        .content();
      }
    }
  }
  .panel-body{
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
  }
}
// .ico-img{
//   height: .9em;
//   width: .9em;
//   border-radius: 20%;
//   margin-right: .4em;
// }
// .alink{
//   color: rgba(0,0,0,.85);
//   &:hover{
//     .a-underline()
//   }
// }

.text-btns{
  padding: .5em 0;
}
.text-btn{
  font-size: 0.9em;
}
.a-link{
  padding: .125em .8em;
  color: #999;
  font-size: 0.9em;
  &:hover{
    .a-underline()
  }
}
