<div class="text-btns flex">
  <a [routerLink]="['../gallery']" class="text-btn mr-3">推荐书签</a>
  <a [routerLink]="['../bookmark']" class="text-btn mr-3">书签导航</a>
  <span style="flex:1 1 auto"></span>
  <input
    #fileLoad
    type="file"
    style="display: none;"
    (change)="readFile($event)"
    accept="html">
  <span class="text-btn mr-3" (click)="showNavCategoryDialog('添加分类')">添加分类</span>
  <span class="text-btn mr-3" (click)="showNavItemDialog('添加书签')">添加书签</span>
  <span class="text-btn mr-3" (click)="fileLoad.click()">导入</span>
</div>
<div class="container">
  <div class="lf-container">
    <div class="sidebar sticky">
      <app-menu-tree [data]="customNavs" (ckEvent)="selectNav($event)" children="children"></app-menu-tree>
    </div>
  </div>
  <div class="rt-container">
    <div class="title">
      {{selectItem?.title}}
      <span class="opacity0">
        <i nz-icon nzType="edit" nzTheme="outline" class="cursor ml-1" (click)="showNavCategoryDialog('编辑分类',selectItem)"></i>
        <i nz-icon nzType="delete" nzTheme="outline" class="cursor ml-1"
        nz-popconfirm
        nzPopconfirmTitle="删除分类同时会删除分类下的书签！"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="delNavCategory(selectItem?.id)"></i>
      </span>
    </div>
    <div class="item-container">
      <div class="column" *ngFor="let items of selectData">
        <ng-container *ngFor="let item of items" [ngSwitch]="item.type">
          <div
            class="nav-link"
            *ngSwitchCase="'link'"
            >
            <img
                  src="http://www.cicode.cn/api/assets/icons/assets/nofavicon.svg"
                  class="ico-img">
            <span class="cursor ellipsis" (click)="open(item)" [title]="item.title">{{item.title}}</span>
            <span style="flex:1 1 auto"></span>
            <span  class="opacity0">
              <i nz-icon nzType="edit" nzTheme="outline" class="cursor mr-1" (click)="showNavItemDialog('编辑书签', item)"></i>
              <i nz-icon nzType="delete" nzTheme="outline" class="cursor" 
              nz-popconfirm
              nzPopconfirmTitle="确定删除书签吗?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="delNavItem(item.id)"></i>
            </span>
          </div>
          <div
            class="nav-panel"
            *ngSwitchCase="'sub'">
            <div class="panel-header ellipsis" [title]="item.title">
              {{item.title}}
            </div>
            <div class="panel-body">
              <div
                class="nav-link"
                *ngFor="let cell of item.navList"
                >
                <img
                  src="http://www.cicode.cn/api/assets/icons/assets/nofavicon.svg"
                  class="ico-img">
                <span class="cursor ellipsis" (click)="open(cell)" [title]="cell.title">{{cell.title}}</span>
                <span style="flex:1 1 auto"></span>
                <span  class="opacity0">
                  <i nz-icon nzType="edit" nzTheme="outline" class="cursor mr-1" (click)="showNavItemDialog('编辑书签', cell, item)"></i>
                  <i nz-icon nzType="delete" nzTheme="outline" class="cursor"
                  nz-popconfirm
                  nzPopconfirmTitle="确定删除书签吗?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="delNavItem(cell.id)"></i>
                </span>
              </div>
              <div class="nav-folder ellipsis" *ngFor="let cell of item.children"  [title]="cell.title">
                <i nz-icon nzType="folder" nzTheme="outline"></i>
                {{cell.title}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- <svg class="grid" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
  <defs>
      <pattern id="smallGrid" width="7.236328125" height="7.236328125" patternUnits="userSpaceOnUse">
          <path 
              d="M 7.236328125 0 L 0 0 0 7.236328125" 
              fill="none" 
              stroke="rgba(207, 207, 207, 0.3)" 
              stroke-width="1">
          </path>
      </pattern>
      <pattern id="grid" width="36.181640625" height="36.181640625" patternUnits="userSpaceOnUse">
          <rect width="36.181640625" height="36.181640625" fill="url(#smallGrid)"></rect>
          <path 
              d="M 36.181640625 0 L 0 0 0 36.181640625" 
              fill="none" 
              stroke="rgba(186, 186, 186, 0.5)" 
              stroke-width="1">
          </path>
      </pattern>
  </defs>
  <rect width="100%" height="100%" fill="url(#grid)"></rect>
</svg> -->