<div class="text-btns flex">
  <a [routerLink]="['../gallery']" class="text-btn mr-3">推荐书签</a>
  <span style="flex:1 1 auto"></span>
  <input
    #fileLoad
    type="file"
    style="display: none;"
    (change)="addNavHtml($event)"
    accept="html">
  <span class="text-btn mr-3" (click)="fileLoad.click()">导入</span>
  <span class="text-btn mr-3" (click)="showNavCategoryDialog('添加分类')">添加分类</span>
  <span class="text-btn mr-3" (click)="showNavItemDialog('添加书签')">添加书签</span>
</div>
<div class="custom-container">
  <div class="lf-container">
    <div class="sidebar">
      <app-menu-tree [data]="customNavs" (ckEvent)="selectNav($event)"></app-menu-tree>
    </div>
  </div>
  <div class="rt-container">
    <div class="title">{{selectTitle}}</div>
    <div class="item-container">
      <div class="column" *ngFor="let items of selectData">
        <ng-container *ngFor="let item of items" [ngSwitch]="item.type">
          <div
            class="nav-link item"
            (click)="open(item)"
            *ngSwitchCase="'link'"
            >{{item.title}}</div>
          <div
            class="nav-panel item"
            *ngSwitchCase="'sub'">
            <div class="panel-header">{{item.title}}</div>
            <div class="panel-body">
              <ng-container *ngFor="let cell of item.children" [ngSwitch]="cell.type">
                <div
                  class="nav-link"
                  (click)="open(cell)"
                  *ngSwitchCase="'link'"
                  >{{cell.title}}</div>
                <div *ngSwitchCase="'sub'" class="nav-folder">
                  <i nz-icon nzType="folder" nzTheme="outline"></i>
                  {{cell.title}}
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>