@import "../../../styles/default.less";
.custom-container{
  display: flex;
  .rt-container{
    padding: 0 1rem;
    flex: 1 1 auto;
    .title{
      font-size: large;
      font-weight: 400;
    }
  }
  .sidebar{
    flex: 0 0 15rem;
    padding: 1rem 0;
  }
}
.column{
  flex: 1 1 auto;
}
.item-container{
  display: flex;
  .item{
    // background-color: #f7f9fa;
    // border-radius: 0.25rem;
    // margin: 0.25rem;
  }
}
.nav-link{
  cursor: pointer;
  padding: 0.25rem .5rem;
  &:hover{
    color: @primary-color;
    transition: color .2s;
  }
}