<div class="m-container">
  <h3>一、说明</h3>
  <p>
    1、普通用户有文章评论权限，vip用户有文章编写权限。如果想编写文章，可联系站长，升级权限。<br>
  </p>
  <h3>二、相关链接</h3>
  <p>欢迎大家收藏</p>
  <p>
    <a href="http://www.cicode.cn">本站地址：</a>http://www.cicode.cn<br>
    <a href="http://www.cicode.cn/nav/home/gallery">书签推荐：</a>http://www.cicode.cn/nav/home/gallery<br>
    <a href="http://www.cicode.cn/blog/home">文章首页：</a>http://www.cicode.cn/blog/home<br>
    <a href="http://www.cicode.cn/tool/home">工具：</a>http://www.cicode.cn/tool/home
  </p>
  <h3>三、免责声明</h3>
  <p>
    1、cicode.cn是分享学习交流的社区，所有内容仅供学习参考，不参与商业用途，请勿非法传播。<br>
    2、网站所有内容均来自互联网，内容仅代表文章原作者观点，与本站立场无关。<br>
    3、支持维护著作版权，发现其内容有违国家法律相抵触的内容，根据联系方式及时提供线索内容，联系我们删除。
  </p>
  <h3>四、关于</h3>
  <p>一开始是记录自己在工作学习中的代码，写了一些demo页面。然后有了建立一个博客网站的想法。经过很长时间的努力，写写停停，终于在2022年1月26号上线了。</p>
  <p>
    本站的初衷是方便自己和他人。共分为三部分：书签导航，文章，工具。后续会不断完善和更新。
  </p>
</div>
