<div class="m-container page-top">

  <h1>cicode-技术内容分享与在线工具平台</h1>
  <h2>一、关于本站</h2>
  <h3>技术框架</h3>
  <p>
    前端：angular、ng-zorro、marked <br>
    后台：nodejs、express、spring boot、jpa、security、mysql、redis
  </p>
  <p>nodejs主要做服务器端渲染和接口转发、小接口开发。spring boot主要功能实现 spring security权限。</p>
  <h3>说明</h3>
  <p>
    本人是前端开发，angular、vue及其相关生态，手机端等都有涉及。<br>
    后台功能虽然是自己用java写的，但对java不是很熟。<br>
    建站的初心是想整理自己用过的东西，添加到自己的博客上，做一个积累。有一点点小想法也会在本站上实现。<br>
  </p>
  <h2>二、网站功能及规划</h2>
  <ul>
    <li>导航--已经收录了800多个网址，精细分类，并在不断更新中</li>
    <li>书签--登录之后，可以快速导入浏览器收藏夹中的网址，方便快捷，随时访问，快速查找。</li>
    <li>工具--日常开发常用工具，对接百度AI，功能不断完善中</li>
    <li>低代码平台--主要功能已经打通，可以通过拖拽开发网页，数据绑定更新，计划发布到npm中，安装就可以使用。</li>
    <li>订阅--rss阅读器，聚合文章，本地存储</li>
  </ul>
  <h2>三、捐助支持</h2>
  <p>
    如果本站帮助过您，您可以自愿选择赞助，支持本站的不断发展。
  </p>
  <div class="flex mb-3" style="flex-wrap: wrap;">
    <div>
      <span class="title">支付宝</span><br>
      <img src="/assets/image/qrcode/zfb.jpg" style="width:150px;margin-right:5em;border: 0.2em solid #fff;" alt="支付宝二维码">
    </div>
    <div>
      <span class="title">微信</span><br>
      <img src="/assets/image/qrcode/wx.jpg" style="width:150px;border: 0.2em solid #fff;" alt="微信二维码">
    </div>
  </div>
  <h2>四、联系我</h2>
  <p>
    如有需要，邮件联系我。
  </p>
  <p>
    邮箱：980479803@qq.com
  </p>

</div>