<div class="m-container">
  <h3>1、关于</h3>
  <p>
    本项目包括：书签（推荐、自定义）、文章（首页、个人主页）、工具。<br>
    普通用户有文章评论权限，vip用户有文章编写权限。如果想编写文章，可联系站长，升级权限。
  </p>
  <h3>2、相关链接</h3>
  <p>欢迎大家收藏</p>
  <p>
    本站地址：http://www.cicode.cn<br>
    书签推荐：http://www.cicode.cn/nav/home/gallery<br>
    文章首页：http://www.cicode.cn/blog/home<br>
    工具：http://www.cicode.cn/tool/home
  </p>
  <h3>3、免责声明</h3>
  <p>
    cicode 是分享学习交流的社区，内容均来自用户创建，本站对用户的侵权行为不承担法律责任。<br>
    用户在本站发布时，应当遵守 《中华人民共和国著作权法》及与著作权保护相关的法律和规章，保证不侵犯著作权人的合法利。
    如果有侵犯版权的行为，请提供相关作品的版权证明，发送邮箱，我们会在24小时之内处理。
  </p>
</div>
