<div [style.backgroundColor]="curColor?.hex" class="draw-panel">
  <div class="m-container flex">
    <div class="color-list">
      <div class="color-item" *ngFor="let item of cn">
        <div class="color-title">{{item.name}}</div>
        <div class="color-block" [style.backgroundColor]="item.hex" (click)="selectColor(item)"></div>
      </div>
    </div>
    <div class="color">
      <div class="color-panel sticky">
        <button (click)="randomColor()" style="background-color: transparent;border-width: 0;cursor: pointer;user-select: none;" title="点击随机切换颜色">点击随机</button>
        <h1 class="panel-title">
          中国传统颜色
        </h1>
        <div class="panel-subtitle">
          {{curColor?.name}} <small>{{curColor?.pinyin}}</small>
        </div>
        <div class="panel-body">
          <div class="color-value">hex: {{curColor?.hex}}</div>
          <div class="color-value">RGB: {{curColor?.RGB}}</div>
          <div class="color-value">CMYK: {{curColor?.CMYK}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

