.color-container{
  display: flex;
  flex-wrap: wrap;
  .color-panel{
    margin-bottom: 2rem;
    width: 10rem;
  }
}
.color-box{
  cursor: pointer;
  width:4rem;
  height:2rem;
  border-radius: .1rem;
}