@import "default";
.draw-panel{
  transition: background-color 2s ease-in-out;
}
.color-list{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,.3);
  width: 26em;
  padding:1em;
  flex: 0 0 auto;
  .color-item{
    margin-bottom: 2em;
    width: 8em;
    color: rgba(255,255,255,.8);
    .color-title{
      font-size: 1.2em;
    }
  }
}
.color-block{
  cursor: pointer;
  width:4em;
  height:1.5em;
  border-radius: @border-radius-base;
}
.color-panel{
  color: rgba(255,255,255,.8);
  padding:3em;
  .panel-title{
    font-size: 4em;
    color: rgba(255,255,255,.8);
  }
  .panel-subtitle{
    font-size: 3em;
  }
  .panel-body{
    line-height: 2em;
    font-size: 1.2em;
  }
}