<div class="m-container page-top">
  <div class="slide">
    菜单
  </div>
  <div class="card-content">
    <div class="rss-panel" *ngFor="let item of urlData">
      <div class="panel-header">
        <span class="title">{{item.title}}</span>
        （{{item.category}} {{item.list.length}}条）
      </div>
      <ul role='list' class="panel-body">
        <li *ngFor="let cell of item.list;let index =index" class="panel-list ellipsis">
          <a [href]="cell.link" class="alink" target="_blank" [title]="cell.title" rel="noopener nofollow">
            <span class="mark">{{index+1}}</span>
            {{cell.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
