<div class="dy-panel">
  <div class="panel-header">
    <button *ngFor="let item of ngcontents; let i = index; trackBy: trackByTabs"
    [class.active]="i == contentIndex"
    nz-button nzType="text" nzSize="small" (click)="selTab(i)">{{item?.label}}</button>
  </div>
  <div
    class="panel-body"
    *ngIf="contentIndex===0">
    <ng-content></ng-content>
  </div>
  <div
    class="panel-body"
    *ngIf="contentIndex===1">
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="contentIndex===2"
    class="panel-body">
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="contentIndex===3"
    class="panel-body">
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="contentIndex===4"
    class="panel-body">
    <ng-content></ng-content>
  </div>
</div>