@import 'default';
.card{
  .m-card();
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom:1em;
  padding: 1em;
  .card-container{
    width: calc(100% - 8em);
    margin-right: .5em;
    .card-subtitle{
      color:#0000008a;
      margin-bottom: .25em;
    }
    .card-title{
      overflow: hidden;
      max-height: 3.4em;
    }
    .card-content{
      overflow: hidden;
      max-height: 6em;
    }
    .card-footer{
      display: flex;
      padding: 0.5em 0;
    }
  }
}
.alink{
  color: rgba(0,0,0,.85);
}
.img-container{
  width: 7em;
  height: 8em;
  .img{
    width: 100%;
    height: 100%;
  }
}
.tag-item{
  background-color: @background-color;
  padding: 0 0.25em;
  margin-right: .5em;
}