@import 'default';
.card{
  .m-card();
  display: flex;
  overflow: hidden;
  margin-bottom:1em;
  padding: 1em;
  .card-container{
    width: calc(100% - 8em);
    margin-right: .5em;
    .card-subtitle{
      color:#0000008a;
      margin-bottom: .25em;
    }
    .card-title{
      font-size: large;
      font-weight: 500;
      margin-bottom:.25em;
      overflow: hidden;
      max-height: 3.4em;
    }
    .card-content{
      overflow: hidden;
      max-height: 6em;
    }
    .action{
      margin-top: 0.5em;
    }
  }
}
.alink{
  color: rgba(0,0,0,.85);
}
.img-container{
  width: 8em;
  height: 6em;
  .img{
    width: 100%;
    height: 100%;
  }
}