
<div class="card-container">
  <h3 class="card-title" [title]="data.title">
    <a [routerLink]="['/blog/detail', data.id]" class="alink">
      {{data.title}}
    </a>
  </h3>
  <p class="card-content">{{data.descItem}}</p>

  <div>
    <a [routerLink]="['/blog/operate', data?.author?.id]" class="alink mr-2">
      <i nz-icon class="card-avatar mr-1" [nzType]="data?.author?.avatar"></i>
      <span>{{data?.author?.username}}</span>
    </a>
    <time class="mr-2"><span nz-icon nzType="calendar" nzTheme="outline" class="mr-1 text-muted"></span>{{data.createTime|date:'yyyy-MM-dd'}}</time>
    <span class="key-item mr-2">{{data?.tag?.title}}</span>
    <span class="key-item mr-2" *ngFor="let wordItem of data?.keywords">{{wordItem}}</span>
  </div>
  <ng-content  select=".footer"></ng-content>
</div>

<div class="img-container">
  <img
    interSection
    [attr.data-source]="data.postImage??defaultBanner"
    [attr.data-type]="'attr'"
    [attr.data-attrname]="'src'"
    class="img"
  >
</div>
