<div class="card">
  <div class="img-container">
    <img
      interSection
      [attr.data-source]="cardData.postImage"
      [attr.data-type]="'attr'"
      [attr.data-attrname]="'src'"
      class="img"
    >
  </div>
  <div class="card-container">
    <div class="top-tow">
      <!-- <ng-content select=".subtitle"></ng-content> -->
      <span class="tag-item">{{cardData?.tag?.title}}</span>
      <span class="key-item" *ngFor="let wordItem of cardData.keyword">#{{wordItem}}</span>
    </div>
    <h3 class="card-title ellipsis" [title]="cardData.title">
      <a [routerLink]="['/blog/detail', cardData.id]" class="alink">
        {{cardData.title}}
      </a>
    </h3>
    <div class="card-content ellipsis3">{{cardData.descItem}}</div>
    <div class="card-footer">
      <!-- <span class="tag-item">{{cardData?.tag?.title}}</span> -->
      <a [routerLink]="['/blog/operate', cardData?.author?.id]" class="alink mr-2">
        <i nz-icon class="card-avatar" [nzType]="cardData?.author?.avatar"></i>
        <span>{{cardData?.author?.username}}</span>
      </a>发布于
      <span class="mr-2">{{cardData.createTime|date:'yyyy-MM-dd'}}</span>
      
      <span style="flex: 1 1 auto;"></span>
      <div>
        <ng-content  select=".footer"></ng-content>
      </div>
    </div>
  </div>
  
</div>
