<div class="m-container">
  <div class="search-panel" [@triggerFlyInOut]="isCollapse?'left-in':'out'">
    <app-form-group [data]='questions' (submitEmit)="search($event)" okText='搜索' clearText="清空"></app-form-group>
  </div>
  <div class="mt-3">
    <nz-button-group>
      <button nz-button nzType="primary">新增</button>
      <button nz-button nzType="default">新增</button>
      <button nz-button nzType="dashed">新增</button>
      <a nz-button nzType="link" (click)="toggleCollapse()">
        Collapse
        <i nz-icon [nzType]="isCollapse ? 'up' : 'down'"></i>
      </a>
    </nz-button-group>
  </div>
  <div class="mt-3">
    <app-table-base [headerData]="listOfColumns" [pageData]="listOfData" [checkbox]="true" (paramsEvent)="loadData($event)"></app-table-base>
  </div>
</div>