<div class="m-container page-top">
  <div class="card">
    <div class="mt-3">
      <nz-select nzShowSearch [(ngModel)]="selCategoryId" (ngModelChange)="changeCategory()" style="width: 300px;">
        <nz-option *ngFor="let item of categoryData" [nzValue]="item.id" [nzLabel]="item.title"></nz-option>
      </nz-select>
    </div>
    <div class="mt-3">
      <nz-button-group>
        <button nz-button nzType="primary" (click)="showDialog({title: '新增'})">新增</button>
      </nz-button-group>
    </div>
    <div class="mt-3">
      <app-table-base *ngIf="selCategoryId" [headerData]="listOfColumns" [pageData]="listOfData" [checkbox]="true" (paramsEvent)="loadData($event)"></app-table-base>
    </div>
  </div>
</div>