<nz-form-item [formGroup]="form">
    <nz-form-label [nzFor]="question.key" *ngIf="!['hidden'].includes(question.type)">{{question.label}}</nz-form-label>
    <ng-container [ngSwitch]="question?.controlType">
        <!-- input输入框 -->
        <nz-form-control *ngSwitchCase="'textbox'">
            <nz-input-number *ngIf="question.type=='number' else ortherInput" [formControlName]="question.key" [id]="question.key"></nz-input-number>
            <ng-template #ortherInput>
                <input nz-input [formControlName]="question.key" [id]="question.key"
                    [type]="question.type||'text'"/>
            </ng-template>
        </nz-form-control>
        <!-- select下拉框 -->
        <nz-form-control *ngSwitchCase="'dropdown'">
            <nz-select [formControlName]="question.key" [id]="question.key" [nzMode]="question?.type||'default'">
                <nz-option *ngFor="let opt of question.options" [nzValue]="opt.code" [nzLabel]="opt.name">
                </nz-option>
            </nz-select>
        </nz-form-control>
        <!-- 日期范围选择 -->
        <nz-form-control *ngSwitchCase="'rangePicker'">
            <nz-range-picker [formControlName]="question.key" [id]="question.key"></nz-range-picker>
        </nz-form-control>
        <!-- radio -->
        <nz-form-control *ngSwitchCase="'radio'">
            <nz-radio-group [formControlName]="question.key" [id]="question.key" nzButtonStyle="solid" [nzSize]="'small'">
                <label nz-radio-button *ngFor="let opt of question.options" [nzValue]="opt.code">{{opt.name}}</label>
              </nz-radio-group>
        </nz-form-control>
    </ng-container>

</nz-form-item>