<ng-container [formGroup]="form" [ngSwitch]="data?.controlType">
    <!-- input输入框 -->
    <nz-form-control *ngSwitchCase="'textbox'">
        <nz-input-number *ngIf="data.type=='number' else ortherInput" [formControlName]="data.key" [id]="data.key"></nz-input-number>
        <ng-template #ortherInput>
            <input nz-input [formControlName]="data.key" [id]="data.key"
                [type]="data.type||'text'"/>
        </ng-template>
    </nz-form-control>
    <!-- select下拉框 -->
    <nz-form-control *ngSwitchCase="'dropdown'">
        <nz-select
            [formControlName]="data.key"
            [id]="data.key"
            [nzMode]="data?.type||'default'"
            nzAllowClear
            nzShowSearch>
            <nz-option *ngFor="let opt of data.options" [nzValue]="opt.code" [nzLabel]="opt.name">
            </nz-option>
        </nz-select>
    </nz-form-control>
    <!-- 下拉级联-->
    <nz-form-control *ngSwitchCase="'cascader'">
        <nz-cascader
            nzChangeOnSelect
            [nzOptions]="data.options"
            [formControlName]="data.key"
            [id]="data.key"></nz-cascader>
    </nz-form-control>
    <!-- 日期范围选择 -->
    <nz-form-control *ngSwitchCase="'rangePicker'">
        <nz-range-picker [formControlName]="data.key" [id]="data.key"></nz-range-picker>
    </nz-form-control>
    <!-- radio -->
    <nz-form-control *ngSwitchCase="'radio'">
        <nz-radio-group [formControlName]="data.key" [id]="data.key">
            <label nz-radio *ngFor="let opt of data?.options" [nzValue]="opt.code">{{opt.name}}</label>
        </nz-radio-group>
    </nz-form-control>
    <!-- textarea-->
    <nz-form-control *ngSwitchCase="'textarea'">
        <textarea
            nz-input [formControlName]="data.key" [id]="data.key"
            [nzAutosize]="{ minRows: 2, maxRows: 12 }"
        ></textarea>
    </nz-form-control>
</ng-container>