<ng-container [formGroup]="form" [ngSwitch]="data?.controlType">
    <!-- input输入框 -->
    <ng-container *ngSwitchCase="'textbox'">
        <nz-input-number *ngIf="data.type=='number' else ortherInput" [formControlName]="data.key" [id]="'field'+data.key"></nz-input-number>
        <ng-template #ortherInput>
            <input nz-input [formControlName]="data.key" [id]="'field'+data.key"
                [type]="data.type||'text'"/>
        </ng-template>
    </ng-container>
    <!-- select下拉框 -->
    
    <nz-select
        *ngSwitchCase="'dropdown'"
        [formControlName]="data.key"
        [id]="'field'+data.key"
        [nzMode]="data?.type||'default'"
        nzAllowClear
        nzShowSearch
        style="width: 100%;">
        <nz-option *ngFor="let opt of data.options" [nzValue]="opt.code" [nzLabel]="opt.name">
        </nz-option>
    </nz-select>
    <!-- 下拉级联-->
    <nz-cascader
        *ngSwitchCase="'cascader'"
        nzChangeOnSelect
        [nzOptions]="data.options"
        [formControlName]="data.key"
        [id]="'field'+data.key"></nz-cascader>
    <!-- 日期范围选择 -->
    <nz-range-picker [formControlName]="data.key" [id]="'field'+data.key" *ngSwitchCase="'rangePicker'"></nz-range-picker>
    <!-- radio -->
    <nz-radio-group [formControlName]="data.key" [id]="'field'+data.key" *ngSwitchCase="'radio'">
        <label nz-radio *ngFor="let opt of data?.options" [nzValue]="opt.code">{{opt.name}}</label>
    </nz-radio-group>
    <!-- textarea-->
    <textarea
        *ngSwitchCase="'textarea'"
        nz-input [formControlName]="data.key" [id]="'field'+data.key"
        [nzAutosize]="{ minRows: 2, maxRows: 12 }"
    ></textarea>
    <!-- textarea-->
    <app-simple-upload
        *ngSwitchCase="'file'"
        [accept]="data.accept"
        [formControlName]="data.key" [id]="'field'+data.key"></app-simple-upload>
</ng-container>