.drag-container{
  width:500px;
  height:400px;
  background-color: #ddd;
  position: relative;
}
.views-container{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex:1 1 auto
}
.left-list{
  width:200px;
  flex:0 0 auto
}