.drag-container{
  width:700px;
  height:400px;
  background-color: #ddd;
  position: relative;
}
.views-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.drop-box{
  width:100px;
  height:100px;
  background-color: green;
  position:absolute;
  top:0;
  left:0;
}