@import "default";
.info-panel{
	border-bottom: 1px solid @border-color;
  margin-bottom: 2em;
}

.palette{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
  gap: 1em;
  .block{
    height: 50px;
    border-radius: @border-radius-base;
  }
  .label{
    text-align: center;
  }
}
.image-context{
  width: 100%;
  height: 300px;
  border: 1px dashed @border-color;
  .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
